[2019-01-11 16:38] lenaorobei opened #3 "[Enhancement] Improve Magento.Annotation rules"
### Description
PHP CodeSniffer goes out-of-box with beautifier tool (`phpcbf`). To use this functionality sniff should throw fixable `warning`/`error` and provide fix (tokens replacement, content change, etc).
Now rules under `Magento/Annotation` raise regular warnings so annotation issues cannot be fixes automatically by `phpcbf`.

### Expected behavior
The sniff throws fixable warning instead o

[2019-01-11 18:16] lenaorobei opened #4 "Add magento/magento-coding-standard as a dependency to magento/magento2"
### Description
This unified coding standard will contain all Magento related sniffs, so there is no need to keep core sniffs under [Magento 2](https://github.com/magento/magento2) `dev/tests/static` folded.

### Acceptance Criteria
1. Sniffs are removed from Magento 2 [dev/tests/static/framework/Magento](https://github.com/magento/magento2/tree/2.3-develop/dev/tests/static/framework/Magento) fold

[2019-01-11 18:51] lenaorobei opened #5 "Unit Test for MethodArgumentsSniff"
### Description
MethodArgumentsSniff needs to be covered with Unit Test.

### To Do
Two files need to be added to `Magento/Tests/Annotation` directory:
- `MethodArgumentsUnitTest.php`
- `MethodArgumentsUnitTest.inc` should contain "error" code as well as example of "good" code.

### Additional information
See already implemented unit tests under `Magento/Tests` directory.
Check your code by runnin

[2019-01-11 19:04] lenaorobei opened #6 "[Test] Unit test for LineLengthSniff"
### Description
`LineLengthUnitTest` needs to be covered with unit test.

### Acceptance Criteria
1. Test is added to the `Magento/Tests/Files` directory and `extend AbstractSniffUnitTest`.
2. Positive as well as negative scenarios are covered by unit test. In other words, `LineLengthUnitTest.inc` should contain "error" code as well as example of "good" code.

### Additional information
See alread

[2019-01-11 19:07] lenaorobei opened #7 "[Test] Unit test for LiteralNamespacesSniff"
### Description
`LiteralNamespacesSniff` needs to be covered with unit test.

### Acceptance Criteria
1. Test is added to the `Magento/Tests/PHP` directory and `extend AbstractSniffUnitTest`.
2. Positive as well as negative scenarios are covered by unit test. In other words, `LiteralNamespacesUnitTest.inc` should contain "error" code as well as example of "good" code.

### Additional information
S

[2019-01-11 19:17] lenaorobei opened #8 "[Test] Unit test for EmptyLineMissedSniff"
### Description
`EmptyLineMissedSniff` needs to be covered with unit test.

### Acceptance Criteria
1. Test is added to the `Magento/Tests/Whitespace` directory and `extend AbstractSniffUnitTest`.
2. Positive as well as negative scenarios are covered by unit test. In other words, `EmptyLineMissedUnitTest.inc` should contain "error" code as well as example of "good" code.

### Additional informatio

[2019-01-14 17:57] lenaorobei opened #9 "[Enhancement] Improve LiteralNamespacesSniff"
### Description
`LiteralNamespacesSniff` should not check `class_exists($className) || interface_exists($className)`.

### Expected behavior
Sniff should be rewritten in order to make **static** check and not rely on loaded Magento classes and interfaces.

### Benefits

1. Sniff will work without Magento instance.
2. Sniff will work in IDE.

[2019-01-15 21:54] lenaorobei opened #10 "The use of final keyword is prohibited"
### Rule
The use of `final` keyword is prohibited.

### Reason
Magento is a highly extensible and customizable platform.
Final classes and method are not compatible with plugins and proxies.

### Implementation
Detect `T_FINAL` token in the file.
Sniff should replace corresponding [PHPMD rule](https://github.com/magento/magento2/blob/2.3-develop/dev/tests/static/framework/Magento/CodeMessDetector/

[2019-01-16 17:07] #10 closed

[2019-01-22 17:37] lenaorobei opened #14 "[Proposal] Rules Severities for Marketplace Technical Review"
### Marketplace Technical Review

PHP CodeSniffer is one of the tools Magento Marketplace uses for extensions verification. Find more details about current approach [here](https://docs.magento.com/marketplace/user_guide/sellers/code-validation.html).
Severities is the way to determine how strict the rule is. The higher is the severity the stricter the rule is.

⚠️ **Note:** _only severity 10 issue

[2019-01-22 19:34] larsroettig commented on #14
Hi @lenaorobei,
if we have 9 (Security issue) it should also to be checked or rejected.

Also, I recommend using the Checks to build a score and publish on Marketplace.

Score | Description
------------ | -------------
90 - 100 | Content from cell 2
80 - 90| Content in the second column
60 -80 | Normal Extension
< 60    | Bad Extension

[2019-01-22 21:43] lenaorobei commented on #14
@larsroettig thanks for the feedback!

Answering to your concerns about security - they are _possible issues_, so I didn't assign severity 10 to them. For example `Magento.Security.XssTemplate` sniff is built based on [Templates XSS security](https://devdocs.magento.com/guides/v2.0/frontend-dev-guide/templates/template-security.html).

I'm not sure we are ready now to reject extensions because of

[2019-01-23 07:44] sprankhub commented on #14
That possible security issues are not rejected got my attention at first sight as well. I am not 100% sure what the current security-related sniffs check and how many false positives they produce. However, if rejecting extensions "because of wrong annotation" is your only concern, I would not care. Even if this is quite strict, it is probably easy to fix and hence, a rejection is not a big issue a

[2019-01-23 15:57] lenaorobei commented on #14
@sprankhub I see your point and the rejection of extensions with XSS issues is what we are striving to, but I think we should start with explanation and popularization the idea of how to write good code and warn that every 9, 8 or 7 severity issue might became 10 in future.

[2019-01-23 16:39] convenient commented on #14
A warning for possible security issues is not enough IMO. I participate in the bug bounty program and I actively look for `escapeNotVerified` for things to target.

Things that have been added to the code and marked as "secure enough" are often broken and used in attack chains. If it is manually reviewed by a human who thinks "this is secure and can't be broken" there is still the chance they are

[2019-01-25 09:43] schmengler commented on #4
are those static tests also going to be moved into this repository? More importantly, are they used for marketplace extensions?

[2019-01-25 15:16] lenaorobei commented on #4
@schmengler PHP CodeSniffer should became preferred tool for static checks. If its functionality is not enough (dynamic check, etc), we should consider using other approaches like Mess Detector or PHPUnit. For example, I rewrite [FinalImplementation Mess Detector rule ](https://github.com/magento/magento2/blob/2.3-develop/dev/tests/static/framework/Magento/CodeMessDetector/Rule/Design/FinalImpleme

[2019-01-25 21:20] lenaorobei opened #17 "[Proposal] Version specific sniffs"
### Problem Overview
Some of the rules like `strict_types` were introduced in later Magento versions and are not applicable to earlier ones. Magento Marketplace still checks the code of extensions compatible with Magento 2.0, 2.1, 2.2.  How to handle version specific rules?

### Solution
Provide mechanism of version specific sniffs using OOB PHP CodeSniffer functionality. By default PHP CodeSniffe

[2019-01-26 11:45] jissereitsma commented on #17
Simple and efficient. I was personally thinking along the same line because I would like to see this version check right in the PHP code of the sniff itself. However, there are some alternatives (on top of this option 1 that you have documented) that are maybe nice to mention here for the purpose of a debate:
- Option 2) Create a separate branch of this repo with version-specific rules. For instan

[2019-01-26 14:33] lenaorobei commented on #17
@jissereitsma
Cool that you've described other options. Now we definitely have the basis for debates.

Now I'm thinking about public property, because in this case we can change the property value in the `ruleset.xml`.

😄 It was exactly what I wrote before, but the idea of **Composition over Inheritance** didn't leave my head so I changed to this. I think, you're right. The simplest approach here

[2019-01-27 08:06] jissereitsma commented on #17
I have no objection against making `$introducedIn` a public property.

As for the examle, the `declare()` usage is not necessarily bad, because it has become a good practice related to a Magento-version. But it involves a discussion on PHP compatibility as well (for which maybe a different PHP-specific ruleset is better). Maybe a good example is ViewModels - introduced in Magento 2.2.0, improved i

[2019-01-27 08:09] jissereitsma commented on #17
Maybe to throw some SOLID at it: The responsibility for the `VersionChecker` class is to check upon the version. I would expect methods like `isVersion($version)` or `isOlderThan()` (just talking loosely on a Sunday morning on this). A `doRun` method determines whether the rule should be run, which is actually not the responsibility of `VersionChecker` but of the rule itself. A call like this migh

[2019-01-27 15:49] larsroettig commented on #17
Hi @jissereitsma, a ```VersionChecker``` sounds good to me

[2019-01-28 08:34] sprankhub commented on #17
Thanks for the suggestion. I like the initial option the most as long as the "is-sniff-relevant-for-version-check" is not implemented in each and every sniff as already discussed. Regarding the cons:

IMHO, this is not too bad since usually, one develops for the latest version of Magento, so that the default behavior should be okay.

Not sure that you mean by that @lenaorobei. If a specific sniff

[2019-01-28 19:47] lenaorobei commented on #17
@sprankhub that's a good point.

Based on our comments and suggestions, the implementation can be following.

[code]
Note: `$deprecatedIn` is optional.
If `$deprecatedIn` property is set, but runtime option is missing (`--runtime-set magentoVersion 2.2`), sniff will be skipped assuming we test against latest Magento version.
[code]

[2019-01-28 21:59] lenaorobei opened #18 "[New Rule] Proxies and interceptors MUST never be explicitly requested in constructors"
### Rule
Proxies and interceptors MUST never be explicitly requested in constructors.

Source - [Magento Technical Guidelines](https://devdocs.magento.com/guides/v2.3/coding-standards/technical-guidelines.html)

### Description
Proxies are used for lazy-loading. Details on [DevDocs](https://devdocs.magento.com/guides/v2.3/extension-dev-guide/proxies.html).

Proxies should be configured via `di.xml

[2019-01-29 06:43] larsroettig commented on #17
@lenaorobei this implementation looks good :+1:

[2019-01-29 15:42] lenaorobei opened #20 "[New Rule] Slow array SHOULD NOT be used in loop"
### Rule

The use of slow array functions (`array_merge`) in loop is discouraged.

### Reason
Merging arrays in a loop is slow and causes high CPU usage. [Some benchmarking](https://github.com/kalessil/phpinspectionsea/issues/138#issuecomment-279457133).

**Bad example:**
[code]

**Good example:**
[code]

### Implementation
- Subscribe to `T_STRING` token and check if it's content is `array_merge`

[2019-01-29 16:06] lenaorobei commented on #20
We can throw a warning with incremental approach.

[2019-01-29 21:38] lenaorobei opened #21 "[New Rule] No try block detected when processing system resources"
### Rule
If a method uses system resources (such as files, sockets, streams, etc), the code MUST be wrapped with a try block and the corresponding finally block. In the finally sections, all resources SHOULD be properly released.

### Reason
Source: [Magento Technical Guidelines](https://devdocs.magento.com/guides/v2.3/coding-standards/technical-guidelines.html).

### Implementation
- Subscribe to

[2019-01-29 21:51] lenaorobei opened #22 "[New Rule] Abstract classes MUST NOT be marked as public @api"
### Rule

Abstract classes MUST NOT be marked as public `@api`.

### Reason
Source: [Magento Technical Guidelines](https://devdocs.magento.com/guides/v2.3/coding-standards/technical-guidelines.html).

Interfaces should be used instead because Magento follows [Composition over Inheritance](https://en.wikipedia.org/wiki/Composition_over_inheritance) principle.

### Implementation
- Subscribe to `T_C

[2019-01-30 12:03] schmengler commented on #4
Sounds good. That means,  `Magento\TestFramework\Utility\XssOutputValidatorTest` will be removed in favor of `XssTemplateSniff`, right?

[2019-01-30 13:19] Vinai commented on #20
Mixed feelings. I often use merge in a reduce function to avoid changing local state (and save a line of code).
Hope PHP optimizes for more functional patterns in future, now that FP is becoming mainstream.
Even Java now has optimized map/reduce/filter chains, and more and more languages support STM.
If PHP follows, this sniff would be outdated.
Maybe sniffs should focus on algorithmic complexity

[2019-01-30 14:46] shochdoerfer commented on #20
Slow is a matter of definition :) In a loop with just a few iterations, you most likely won't notice that much of a difference.

[2019-01-30 14:54] Vinai commented on #20
Exactly. That’s why focusing on big O algorithmic complexity seems like a good idea since that’s assumes scalability in the worst case scenario.
Stating this I feel stupid because I’m sure you are well aware.

[2019-01-30 15:41] lenaorobei commented on #4
@schmengler yes, that's right.

[2019-01-30 20:42] lenaorobei opened #23 "[New Rule] The use of literal logical operators MUST be avoided"
### Rule
The use of literal logical operators (`and`, `or`) is discouraged. `&&` and `||` should be used instead.

### Reason
[Operator precedence](http://php.net/manual/en/language.operators.precedence.php) is different for `and` vs. `&&` and `or` vs. `||`.
It may cause unexpected behaviour:
[code]
Please use the [official documentation](http://php.net/manual/en/language.operators.logical.php) fo

[2019-01-30 21:32] lenaorobei opened #24 "[New Rule] Static methods SHOULD NOT be used"
### Rule
The use of `static` methods is discouraged.

### Reason
Source: [Magento Technical Guidelines](https://devdocs.magento.com/guides/v2.3/coding-standards/technical-guidelines.html).

[Plugins](https://devdocs.magento.com/guides/v2.0/extension-dev-guide/plugins.html#plugin-limit) cannot be used with static methods, because static methods cannot be intercepted.
As a result, It hurts extensibi

[2019-01-30 23:03] lenaorobei opened #25 "[New Rule] Method chaining in class design MUST be avoided"
### Rule
Method chaining in class design MUST be avoided.

### Reason
Source: [Magento Technical Guidelines](https://devdocs.magento.com/guides/v2.3/coding-standards/technical-guidelines.html).

According to technical guidelines:

Good explanation of why method chaining contradicts this principal was described by Martin Fowler in the "Domain-Specific-Languages" book:

### Suggested Implementation

[2019-01-31 16:55] lenaorobei opened #26 "[New Rule] Getters SHOULD NOT change the state of an object"
### Rule
Getters SHOULD NOT change the state of an object.

### Reason
Source: [Magento Technical Guidelines](https://devdocs.magento.com/guides/v2.3/coding-standards/technical-guidelines.html).

### Implementation
Check if method name starts with `get` and find class member assignment operation inside this method.
[code]

[2019-01-31 17:08] lenaorobei opened #27 "[New Rule] Multiple isset statements SHOULD be combined into one"
### Rule
Multiple `isset` statements SHOULD be combined into one.

### Reason

Just the code style question aimed to make the codebase consistent.

**Bad example:**
[code]

**Good example:**
[code]
### Implementation
Check for multiple `isset` statements combined with `&&` inside one condition.

[2019-01-31 17:22] lenaorobei opened #28 "[New Rule] Function/method call in for loop MUST be avoided"
### Rule
`Function`/`method` call in `for` loop MUST be avoided.

### Reason
PHP will call the `method`/`function` on each iteration of the `for` loop.

**Bad Example:**
[code]
**Good example:**
[code]

### Implementation
- Subscribe to the `T_FOR ` token.
- Check if condition contains function call (`T_STRING` with followed by open parentheses).

[2019-01-31 17:27] lenaorobei opened #29 "[New Rule] Exceptions MUST NOT be handled in the same function where they are thrown"
### Rule
Exceptions MUST NOT be handled in the same function where they are thrown.

### Reason
Source: [Magento Technical Guidelines](https://devdocs.magento.com/guides/v2.3/coding-standards/technical-guidelines.html).

### Implementation
Find `try-catch` block and `throw` keyword in the same method.
Exception type must be the same.

### Addtional Information
**Type:**  warning
**Severity:**  8

[2019-01-31 19:18] lenaorobei opened #30 "[New Rule] Arguments with default values MUST be at the end of the argument list"
### Rule
Arguments with default values MUST be at the end of the argument list.

### Reason
When using default arguments, any defaults should be on the right side of any non-default arguments. Otherwise, code will not work as expected. Follow [PHP official documentation](http://www.php.net/manual/en/functions.arguments.php#functions.arguments.default) for more details.

### Implementation
Add `PEA

[2019-02-01 14:32] lenaorobei opened #31 "[New Rule] Do not use setTemplate in Block classes"
### Background
When creating a Block class, a Block class could set its PHTML template in multiple ways: Through XML layout, through a call to `$this->setTemplate()` and through a variable $_template. The new design of Block classes is to configure them at constructor time, meaning that configuration options (like the template) are added using constructor arguments. This allows for the XML layout

[2019-02-01 14:41] lenaorobei opened #32 "[Documentation] Document Object ManagerSniff"
Describe why the use of Object Manager is considered as a bad practice.

### Acceptance criteria
1. `ObjectManagerSniff.md` file is created.
2. Explanation about why the use of Object Manager is discouraged.
3. _Good_ and _bad_ code snippets provided.

[ExtDN's  TemplateObjectManagerSniff.md](https://github.com/extdn/extdn-phpcs/blob/master/Extdn/Sniffs/Templates/TemplateObjectManagerSniff.md) can

[2019-02-01 14:56] lenaorobei opened #33 "[New Rule] Add declare(strict_types=1) to your PHP files"
### Rule
All new PHP files MUST have strict type mode enabled by starting with `declare(strict_types=1)`;. All updated PHP files SHOULD have strict type mode enabled. PHP interfaces SHOULD NOT have this declaration.

### Reason
Source: [Magento Technical Guidelines](https://devdocs.magento.com/guides/v2.3/coding-standards/technical-guidelines.html).

With PHP 7, it is possible to add type hinting

[2019-02-01 15:22] paliarush commented on #29
I believe we should have one more restriction, exception type must be the same.

[2019-02-01 15:52] larsroettig commented on #33
@lenaorobei  I can implement this

[2019-02-01 16:15] lenaorobei commented on #33
@larsroettig sounds good, but first we need to discuss the approach for version specific sniffs.

[2019-02-02 19:46] ravmenon commented on #14
@larsroettig Thanks for the scoring suggestion - it aligns well with a plan we had to encourage extension developers to fix the warnings too.  The scoring mechanism will be incorporated along with this consolidation work as part of the enhancement of phpcs tests in EQP 2 with a plan for a beta release initially not affecting any submissions, with plans to give developers enough time to be ready wh

[2019-02-05 18:10] akiseliov commented on #28
This rule requires better description.

The title confuses: I thought inside the loop itself, not in "for" statement definition.

[2019-02-05 18:15] lenaorobei commented on #28
@akiseliov thanks for the feedback. I updated the title. Hope it makes more sense now.

[2019-02-06 11:31] sprankhub opened #34 "[New Rule] Controllers Should Implement HTTP Method Marker Interface"
### Rule
Controllers SHOULD implement one of the HTTP method marker interfaces like `HttpPostActionInterface` (see https://github.com/magento/magento2/tree/2.3/lib/internal/Magento/Framework/App/Action).

### Reason
Source: [Magento DevDocs About Routing](https://devdocs.magento.com/guides/v2.3/extension-dev-guide/routing.html)

### Implementation
Check for subclasses of `\Magento\Framework\App\Ac

[2019-02-06 15:36] Zifius commented on #28
Hi @lenaorobei, something like this was done in the ECG Sniff: https://github.com/magento-ecg/coding-standard/blob/master/Ecg/Sniffs/Performance/LoopSniff.php

Maybe it makes sense to port it. What's your vision generally on those sniffs?

[2019-02-06 17:39] lenaorobei commented on #34
Hello @sprankhub! Thanks for creating this proposal. Would you mind to join public Magento architecture meeting to discuss this rule? If you are interested please add this topic as a comment to the [corresponding GitHub issue](https://github.com/magento/architecture/issues/76).
The meeting will be held on February 20th.

[2019-02-06 18:38] lenaorobei commented on #28
Hi @Zifius. We use this rule for [Magento Marketplace verification](https://github.com/magento/marketplace-eqp/blob/master/MEQP1/Sniffs/Performance/LoopSniff.php) and I noticed a lot of false-positive findings. This is the reason why I didn't include this sniff and created a proposal. `Performance/LoopSniff` detects specific function/method calls _inside the loop_ and from my point of view the det

[2019-02-07 08:13] sprankhub commented on #34
I will try, but I will probably not be able to join the meeting. Could you add it to the list of new rules in your topic suggestion nevertheless @lenaorobei? Thanks!

[2019-02-07 08:23] larsroettig commented on #24
Hi i will work on this at next weekend

[2019-02-07 15:21] larsroettig opened #35 "Using phpro/grumphp for local quality check"
We should add as [grumphp](https://github.com/phpro/grumphp) for checking the quality of commits.

Sample Config:
[code]

We using this tool for more than one year in our projects. We getting better commits and lower rejection rate of Pull Requests.

**Info:**
https://www.integer-net.com/magento-2-automatic-code-quality-check-with-grumphp/

*To discuss:*
- what should checked before commit
- if ca

[2019-02-07 15:37] lenaorobei commented on #34
@sprankhub, sure. I'll add this topic.

[2019-02-09 09:25] mzeis commented on #35
I can confirm that GrumPHP also helped us with getting better commits. Especially it's motivating because it shortens the feedback loop (you don't need to wait for a failing build to get feedback) and helps to not forgetting basic checks.

I didn't use `phpmnd` yet so I cannot tell and we might have to skip the `phpversion` check if this repository support PHP 5.6 (unless we want to specify that).

[2019-02-09 09:31] mzeis commented on #6
Hi! I'd like to work on this.

[2019-02-11 14:50] larsroettig commented on #35
@lenaorobei can you review this we should add this to architecture meeting on Wednesday.

[2019-02-11 17:09] lenaorobei commented on #35
@larsroettig sure, adding to the meeting notes.

[2019-02-11 17:24] lenaorobei opened #36 "[Bug] Unit test for overridden properties in Magento.Files.LineLength doesn't work as expected"
Rule from `ruleset.xml`
[code]

Properties from parent `Generic.Files.LineLength` sniff are processed instead of changed in `Magento.Files.LineLength` values.

### Steps to reproduce
1. Create test fixture with line length = 101.

### Expected result
1. Unit test does not detect warning.

### Actual result
[code]

Discovered while implementing [Unit test for LineLengthSniff](https://github.com/mag

[2019-02-11 22:43] lenaorobei opened #38 "[Bug] MethodAnnotationStructureSniff causes error when there is no doc comments in the file"
### Steps to reproduce
Run `phpcs` against following code:
[code]
### Expected result
Warning about missing annotation is displayed.

### Actual result
`ERROR   | An error occurred during processing; checking has been aborted. The error message was: Undefined index: comment_closer in magento-coding-standard/Magento/Sniffs/Annotation/MethodAnnotationStructureSniff.php on line 48 (Internal.Exception

[2019-02-12 18:23] mzeis commented on #6
As discussed with @lenaorobei, we need to fix #36 so that the unit test can work as expected.

[2019-02-12 19:19] lenaorobei opened #39 "[Proposal] Remove unstable Annotation sniffs and replace with OOB ones"
### Reason
Rules under `Magento/Annotation` folder rely on [token index](https://github.com/magento/magento-coding-standard/blob/develop/Magento/Sniffs/Annotation/ClassAnnotationStructureSniff.php#L55) instead of token content and [do not verify findings](https://github.com/magento/magento-coding-standard/blob/develop/Magento/Sniffs/Annotation/ClassAnnotationStructureSniff.php#L99) (`findPrevious`

[2019-02-12 21:26] lenaorobei commented on #39
@orlangur I believe you have some thought to say here 🙂

[2019-02-13 12:37] buskamuza commented on #27
As for me, it's OK to have both styles. There can be use cases with `if (isset($a) && empty($b))`, and in this case it looks more consistent with the bad example.
If many people vote that this sniff can improve readability of the code, let it be. Otherwise I would not restrict this.

[2019-02-13 12:46] buskamuza commented on #33
When implementing, please remove a [static test](https://github.com/magento/magento2/blob/2.3-develop/dev/tests/static/testsuite/Magento/Test/Php/LiveCodeTest.php#L345) that cover the same thing.

[2019-02-13 13:09] buskamuza commented on #17
My 2 cents:
1. Restrictions specific to Magento version (not PHP version) should not be hard-coded in the rules themselves. Like a business logic. Today we may want to apply the rule to Magento 2.3 only, but tomorrow we might want to use it for older versions too (because we ported framework support). So I'd put such definition in the ruleset. But in this case we'll have multiple rulesets. I'd say

[2019-02-13 13:18] orlangur commented on #28
@lenaorobei this rule is totally useless actually and was rejected endless amount of times, for instance: https://github.com/magento/magento2/pull/17501#issuecomment-412265544

[2019-02-13 16:05] orlangur commented on #4
@lenaorobei,

Well, you missed the `Design` part. That was the whole point. It has nothing to do with `Php`.

[2019-02-13 16:13] orlangur commented on #35
@larsroettig nice initiative, it was a suggested replacement for abandoned composer package used to implement git hook previously :)

I would revisit config a lot thought, `git_blacklist` for instance could be replaced with `ForbiddenFunctions` sniff, `whitelist_patterns: - /^src\/app\/(.*)/` seems incomplete, `phtml` files must be checked too.

[2019-02-13 16:21] larsroettig commented on #35
@orlangur ForbiddenFunctions we can add this and remove ``git_blacklist`` it is only a recommendation.

[2019-02-13 16:22] orlangur commented on #25
@lenaorobei I do understand that such "useful" sniff is quite easy to implement but it is firstly not applicable to Magento codebase and secondly is wrong in general. For example, returning `$this` is perfectly valid in builders.

Could you please point out where its approval comes from? Like architectural meeting notes or something.

[2019-02-13 17:01] larsroettig commented on #20
Benmarks:

- https://gist.github.com/Ocramius/8399625#file-output-txt

- https://github.com/kalessil/phpinspectionsea/blob/master/docs/performance.md#slow-array-function-used-in-loop

- https://github.com/kalessil/phpinspectionsea/issues/138#issuecomment-279457133

[2019-02-13 17:05] joni-jones commented on #24
This rule should not include tests which use PHPUnit because all `assert...`, `once()`, `atLeast()`, etc. are static methods.

[2019-02-13 17:05] ravmenon commented on #27
For extensions, this should be only a low severity (style) warning as the first idiom is very common.

[2019-02-13 17:28] lenaorobei commented on #35
@larsroettig as per architects discussion this issue looks like more global question than just the coding standard. Could you please move this proposal to [magento/architecture](https://github.com/magento/architecture) repository?

[2019-02-13 17:30] AlexMaxHorkun commented on #34
I've created PHPMD rule when I introduced HTTP method marker interfaces, isn't that enough?

[2019-02-13 17:35] lenaorobei commented on #34
@AlexMaxHorkun good to know, thanks.
It's enough for core team, but right now Magneto Marketplace extensions checks doesn't use `phpmd` tool.

[2019-02-13 17:37] lenaorobei commented on #39
@melnikovi could you please provide requirements here?

[2019-02-13 17:39] lenaorobei commented on #33
As per architects discussion we need to determine how strict this rule should be:
- Applicable only to new files?
- Or only to changed files?
- How to check vendors extensions?

[2019-02-13 17:40] lenaorobei commented on #31
Need to investigate and find Magento core use cases where this rule is not applicable.

[2019-02-13 17:47] lenaorobei commented on #25
@orlangur the fact that the rule is accepted doesn't mean that implementation is accepted. The example I provided is just the suggested direction where to start the implementation. I'll fix the issue content.

We have an agreement with core team that every rule from [Magento Technical Guidelines](https://devdocs.magento.com/guides/v2.3/coding-standards/technical-guidelines.html) is automatically a

[2019-02-15 19:36] lenaorobei commented on #28
@orlangur I'm really interested in understanding your firm position regarding this rule.

Few points from my side about this:
1. This rule is not only for `count`, but for any function/method call in the `for` loop.
2. It's well-known "PHP bad practice" item. I agree that it is not about performance. It's more about code style. If we want to write stable and reliable code, we need to follow such b

[2019-02-18 13:40] orlangur commented on #28
Calling function in loop signature is perfectly valid, just like calling within `if` condition, for example. For function in general such rule is not applicable as there is no guarantee it is idempotent.

Proof, please. All previous contributions I met were just about performance impact and I provided an evidence such concerns are groundless.

Security aspect is only applicable to compare some has

[2019-02-19 16:54] larsroettig commented on #35
This issue was moved to magento/architecture#90

[2019-02-19 16:54] #35 closed

[2019-02-19 17:58] lenaorobei commented on #23
Fixed #40

[2019-02-19 17:58] #23 closed

[2019-02-20 09:22] Shero-Inc opened #42 "Permission denied when cloning from the repo"
Hello!
While i was trying to clone the project from: git@github.com:magento/magento-coding-standard.git i got a permission denied.

[code]

[2019-02-20 16:08] lenaorobei commented on #42
Hello,
Could you please confirm you are able to install any other public project from GitHub?
Please double check your SSH key. I'm unable to reproduce this issue.

[2019-02-20 16:24] larsroettig commented on #42
@Shero-Inc  For me, it works fine yesterday it is a ```publickey``` issue or ssh  problem

[2019-02-24 21:33] mzeis commented on #36
I did some debugging.

When executing `bin/phpcs --standard=Magento`, the setting works as expected.

* `PHP_CodeSniffer\Runner` initialises the ruleset and the processing of the Magento coding standard is [triggered](https://github.com/squizlabs/PHP_CodeSniffer/blob/3.3.2/src/Ruleset.php#L200).
* [PHP_CodeSniffer\Ruleset::processRuleset()](https://github.com/squizlabs/PHP_CodeSniffer/blob/3.3.2/s

[2019-02-27 15:45] lenaorobei commented on #36
@mzeis thanks for the investigation.
For me this CodeSniffer behaviour looks like expected. Since we override `Generic.Files.LineLengthSniff` we need to take care about its public properties. Unit tests cover not ruleset, but sniffs, so i believe the fix is to move property declaration from ruleset to the sniff itself.

[2019-02-27 15:46] lenaorobei commented on #42
@Shero-Inc closing this issue since no feedback provided. Feel free to reopen this issue or create the new one.

[2019-02-27 15:46] #42 closed

[2019-02-27 15:59] lenaorobei commented on #8
Hello @hitarthpattani! How is your progress with this ticket? Do you need any assistance?

[2019-02-27 20:13] larsroettig commented on #29
Test Case Examples:

[code]

[2019-02-27 20:32] paliarush commented on #24
@joni-jones I believe this is not relevant because the proposed sniff is looking for declaration of the static tests, not usage. Additionally, in the recent versions of PHPUnit all this methods are not invoked statically.

[2019-02-27 20:46] paliarush commented on #39
Let's do the following:
1. Leave annotation sniffs in the Magento repository only. Remove all other sniffs from the Magento repository.
2. Ruleset in Magento repository should reference the new unified ruleset. Additionally it should still enable existing annotations sniff and disable standard annotation sniffs defined in the unified ruleset.
3. After initial release, non-standard annotation check

[2019-02-27 20:51] joni-jones commented on #24
This issue contains the explanation https://github.com/sebastianbergmann/phpunit/issues/1914 and you can see Sebastian's answer and the community reaction.

[2019-02-27 21:18] lenaorobei commented on #24
Implemented in magento/magento-coding-standard#24

[2019-02-27 21:18] #24 closed

[2019-02-28 16:35] lenaorobei commented on #14
Resolved in #magento/magento-coding-standard#37

[2019-02-28 16:35] #14 closed

[2019-02-28 20:39] lenaorobei opened #45 "[Problem] Namespace conflict with core rules"
### Problem overview
The future direction of [magento/magento-coding-standard](https://github.com/magento/magento-coding-standard) project is to deliver unified Coding Standard to the Magento core.
For backward compatibility [dev/tests/static/framework/Magento/ruleset.xml](https://github.com/magento/magento2/blob/2.3-develop/dev/tests/static/framework/Magento/ruleset.xml) should not be removed. In

[2019-03-01 16:15] chaikovskyia commented on #25
@lenaorobei , why the rule is marked as MUST while applying CQRS principles is recommended (SHOULD)? Also does that mean that data storage classes and interfaces will not have setter methods anymore as currently there too many methods that are modifying state of an object?

[2019-03-01 16:29] lenaorobei commented on #25
Hello @chaikovskyia. This rule is the paragraph 2.15 of the [Technical Guidelines](https://devdocs.magento.com/guides/v2.3/coding-standards/technical-guidelines.html).

In case of any concerns regarding this rule, please crate an issue in the [magento/architecture](https://github.com/magento/architecture) repository. Looks like this rule requires additional explanation and some exceptions.

[2019-03-01 18:30] paliarush commented on #45
How about Magento2 ? Usually coding standards do not have CS suffix, e.g. PSR2

[2019-03-01 20:43] lenaorobei opened #48 "Move RawQuerySniff rom MEQP Coding Standard"
### Description
Move [RawQuerySniff](https://github.com/magento/marketplace-eqp/blob/master/MEQP1/Sniffs/SQL/RawQuerySniff.php) from MEQP Coding Standard:

Acceptance criteria:
- sniff is moved from MEQP repo to magento-coding-standard;
- sniff is covered by unit test;
- unite test covers negative and positive scenarios.

### Additional information
Type: _warning_.
Severity: _9_.

[2019-03-01 21:16] lenaorobei opened #49 "[New Rule] LocalizedException SHOULD only be thrown in the Presentation layer"
### Rule
`LocalizedException` SHOULD only be thrown in the Presentation layer (Controllers, Blocks).

Source: [Technical Guidelines](https://devdocs.magento.com/guides/v2.3/coding-standards/technical-guidelines.html).

### Possible Implementation
Subscribe to the `T_THROW` token. If `LocalizedException` is thrown, check  if file path contains `Block` or `Controller.` If not, raise a warning.

[2019-03-01 22:03] #8 closed

[2019-03-02 17:22] mzeis commented on #6
@lenaorobei With PR #50 (that fixes issue #36), we have a unit test covering the basic sniff.

While writing the test, I found that the code for ignoring "[long lines in case they contain strings intended for translation](https://github.com/magento/magento-coding-standard/blob/df5fc07138d06ada9ffe44c695302cdd77abd476/Magento/Sniffs/Files/LineLengthSniff.php#L11)" is broken. The reason is that ther

[2019-03-03 14:45] mzeis commented on #6
I had some time today, so I went ahead and created an implementation in my fork ([compare with develop branch](https://github.com/magento/magento-coding-standard/compare/develop...mzeis:6-LineLength-UnitTest)).

This implementation should fix the functionality. However, I found that the regular expression that is in use doesn't always work. An error wouldn't be triggered if "Phrase('xy')" or "__('

[2019-03-03 21:02] larsroettig commented on #49
Hi @lenaorobei, are also ViewModel Presentation layer missing in this List I will add this what you mean.

[2019-03-04 13:07] lenaorobei commented on #29
Implemented in magento/magento-coding-standard#43

[2019-03-04 13:07] #29 closed

[2019-03-04 14:01] #36 closed

[2019-03-04 14:09] lenaorobei opened #54 "[New rule] Implement sniffs for missing rule: @inheritdoc formatting"
### Rule
As per description in the magento/magento-coding-standard#39
The rule for `@inheritdoc` formatting needs to be implementesd. Docs [here](http://docs.phpdoc.org/guides/inheritance.html).

**Acceptance Criteria:**
- `@inheritdoc` is allowed.
- If the `@inheritdoc` not inline it shouldn't have braces.

[2019-03-04 14:26] lenaorobei commented on #22
Implemented in magento/magento-coding-standard#51

[2019-03-04 14:26] #22 closed

[2019-03-04 14:50] lenaorobei commented on #48
Done in magento/magento-coding-standard#52

[2019-03-04 14:50] #48 closed

[2019-03-08 10:18] lenaorobei opened #55 "Change the bin directory"
### Preconditions
Have PHP CodeSniffer installed in the project.

### Steps to reproduce
1. Require `magento/magento-coding-standard`
2. Run `vendor/bin/phpcs -i`

### Expected result
1. `Magento` coding Standard is present in the list of installed standards.

### Actual result
1. `Magento` coding Standard is missing in the list of installed standards.

### How to Fix
Remove composer `bin-dir`, fi

[2019-03-08 11:27] maderlock commented on #55
In addition to changing bin directory, added relative path from phpcs in vendor/bin to vendor/magento/magento-coding-standard that will be the base location phpcs needs when this repo is pulled in to a Magento 2 installation.

After this change, Magento is now included in list of installed standards both when downloaded stand-alone and as part of a Magento 2 installation.

[2019-03-08 15:02] lenaorobei opened #58 "[New Rule] Implement sniff for class properties PHPDoc formatting"
### Rule
PHPDoc formatting for class properties.

**Acceptance Criteria:**

- Sniff covers described on [DevDocs requirements](https://devdocs.magento.com/guides/v2.3/coding-standards/docblock-standard-general.html):

- Rule covered by unit test.

[code]

[2019-03-08 15:33] larsroettig commented on #54
[code]

[2019-03-11 12:09] #55 closed

[2019-03-12 12:21] hopeseekr commented on #24
The PHPUnit maintainer is simply wrong on this issue. I have thoroughly analyzed PHPUnit's code, and unless we are going to declare willfully disregarding the static method calls are OK, then such an important code quality tool as PHPUnit should have code written for it using `self::assertEquals()` vs. the contextually ambiguous `$this->assertEquals()`.

Or, PHPUnit needs to have a third class tha

[2019-03-12 16:32] mzeis commented on #6
@lenaorobei Sorry, I forgot to mention you here. Please could you check my last comment?

[2019-03-12 16:44] lenaorobei commented on #6
@mzeis thanks for the investigation. Could you please create separate issue for this use case?

[2019-03-14 11:12] maderlock commented on #18
After discussion in pull-request, the scope of this has changed slightly:
1. This will output errors instead of warnings
2. Rather than detect plugins, the interceptors themselves will be detected

[2019-03-15 15:28] #39 closed

[2019-03-16 13:56] larsroettig commented on #49
Close because of Impelementation does not solve it able with the new requirements with tokens

See:
magento/devdocs#3871

[2019-03-16 13:56] #49 closed

[2019-03-16 14:53] larsroettig commented on #26
Hi @paliarush and @lenaorobei,
I think we get too many false positives it is very hard to Implementing this with tokens maybe with phpstan it is possible to implement this check.

[2019-03-19 14:08] #45 closed

[2019-03-19 15:18] lenaorobei opened #62 "[Enhancement] DiscouragedFunction rule improvement"
### Description
`Magento2.PHP.DiscouragedFunction` needs to be changed in order to cover different use-cases.

### Expected behavior

The first part of the rule should cover following:
- The use of insecure functions triggers **9 severity warning** (applicable to all codebase).
Examples of insecure functions: `exec`, `md5`, `unserialize`, `assert`.

The first part of the rule should cover followin

[2019-03-19 20:07] lenaorobei commented on #32
Closing now, because `ObjectManagerSniff` was removed from this coding standard causing a lot of core findings.

Look forward to implement this checke with the help of other static tool (not token-based one).

[2019-03-19 20:09] lenaorobei commented on #3
Closing since rules under `Annotation` section were removed due to unsuitability.
See magento/magento-coding-standard#54 and magento/magento-coding-standard#58.

[2019-03-19 20:09] #3 closed

[2019-03-19 20:11] lenaorobei commented on #38
Closing since rules under `Annotation` section were removed due to unsuitability.
See magento/magento-coding-standard#54 and magento/magento-coding-standard#58.

[2019-03-19 20:11] #38 closed

[2019-03-19 20:42] lenaorobei opened #64 "[Enhancement] ObjectInstantiation rule improvement"
### Description

`Magento2.Classes.ObjectInstantiation` Detects direct object instantiation via `new` keyword.

The test run of `Magento2.Classes.ObjectInstantiation` rule againstMagento2 codebase  found >2000 issues. Some of them look like false-positive. Examples:

[code]

### Proposal
Create whitelisting for this check. Need to discuss classes that can be added to this whitelist.

[2019-03-19 20:57] lenaorobei opened #65 "[Bug] XssTemplateSniff does not detect some use cases"
### Preconditions
Create fixture with following code:
[code]

### Steps to reproduce
Run Magento2 Coding Standard against this code.

### Expected result
No issues detected.
`/* @noEscape */` is allowed.
https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/templates/template-security.html

### Actual result
`WARNING | Unescaped output detected.`

[2019-03-20 16:02] lenaorobei commented on #64
As per architecture discussion instantiation via `new` is ok:
- factories;
- 3rd-party code (not the same namespace the checked file is).

Discuss the best way to implement this rule. Looks like PHPCodeSniffer is not suitable here.

[2019-03-20 16:41] #62 closed

[2019-03-20 16:48] larsroettig commented on #64
For unit tests, factory, facade, builder pattern must are **new** allowed.

[2019-03-20 16:51] maxbucknell commented on #64
I don’t often see exceptions created by factories. Not sure whether that is the current best practice, though.

[2019-03-20 18:34] lenaorobei opened #67 "[Bug] Magento2.Exceptions.Namespace causes false-positive findings"
### Preconditions
Magento2 CodingStandard is installed.

### Steps to reproduce
Run against Magento2 codebase.
`vendor/bin/phpcs --standard=Magento2 app/code lib/internal/ --sniffs=Magento2.Exceptions.Namespace -s `

### Expected result
No false-positive findings.

### Actual result
`>60` false-positive findings detected. Example:
[code]

### Solution
Remove this rule from Coding Standard in favor

[2019-03-20 18:39] lenaorobei commented on #64
Going to remove this rule for the first release of Magento Coding Standard. Will keep the issue open though.

Need to find out the best way to implement this rule. Looks like PHPCodeSniffer is not the best option to perform such kind of checks.

Twitter thread: https://twitter.com/LenaOrobei/status/1108402289222602752

@paliarush @buskamuza @kandy @melnikovi

[2019-03-20 19:53] #65 closed

[2019-03-20 20:25] #26 closed

[2019-03-20 22:33] buskamuza commented on #64
Looks like, first we should update our guidelines with the rules around objects instantiations with reasoning. And the the cs rule should cover it by the automation.

[2019-03-20 23:00] buskamuza commented on #64
Please see https://github.com/magento/devdocs/pull/3982/files
Let's have a discussion what we want as a rule. It should have good balance of value/overhead.

[2019-03-21 16:02] lenaorobei commented on #67
Resolved in magento/magento-coding-standard#69

[2019-03-21 16:02] #67 closed

[2019-03-21 16:13] lenaorobei opened #70 "[New Rule] Improper Date/Time handling"
### Problem
`Magento2.PHP.DateTime.Overcomplicated` relies on class name only and does not any additional checks (like `instanceof`). This causes false-positive findings.

### Solution
Remove `Magento2.PHP.DateTime.Overcomplicated` sniff from Magento Coding Standard.
Implement this check using static tool that can analyze extended class info (PHPStan).

Keep the ticket open to track the rule imple

[2019-03-22 14:51] lenaorobei commented on #20
@buskamuza @kandy

Need you input here.

See related PR magento/magento-coding-standard#72

[2019-03-24 06:22] mzeis opened #75 "[BUG] LineLengthSniff RegEx misses long lines with Phrase/__ keyword in string"
### Preconditions

1. Use fix from https://github.com/magento/magento-coding-standard/pull/74 (original implementation of the sniff is broken)

### Steps to reproduce

1. in `Magento2/Tests/Files/LineLengthUnitTest.inc`, add this line:

[code]
2. Run `vendor/bin/phpunit`

### Expected result

1. An error as the line contains  no translation but only the keywords "Phrase" and "__" inside a string,

[2019-03-24 06:23] mzeis commented on #6
This is the issue for this use case: https://github.com/magento/magento-coding-standard/issues/75

[2019-03-25 14:10] kandy commented on #20
For me, it makes sense to have this rule

[2019-03-25 14:15] larsroettig commented on #20
Hi @kandy,
 sense yes but if you look to findings maybe there are some false positives

[2019-03-25 14:19] kandy commented on #20
@larsroettig, Definitely, there are some false positives and the warning is a good signal to review such places.

[2019-03-25 14:56] lenaorobei commented on #6
Done in magento/magento-coding-standard#74.

[2019-03-25 14:56] #6 closed

[2019-03-27 13:54] ldusan84 commented on #9
Hi @lenaorobei

Can we just remove `class_exists` and `interface_exists` checks or you meant something else?

[2019-04-01 09:53] orlangur commented on #4
https://github.com/magento/magento2/blob/2.3-develop/composer.json#L88 this needs to be fixed a little bit: dev version of Magento must rely on dev version of coding standard so that we can introduce new rules, fix code and immediately enforce it.

Concrete version must be added during publication: https://github.com/magento/magento2/blob/2.3.1/composer.json#L99

Also, it would be really good to n

[2019-04-04 21:27] danielrenaud opened #80 "Directories in "dev/tests/" should be excluded from some static rules"
### Preconditions

magento-coding-standard v1.0.1

### Steps to reproduce

1. Create some code somewhere in `dev/tests/*` that violates a rule like "Magento2.Exceptions.DirectThrow"

### Results
The `dev/tests/*` directories are not excluded, so all rules are applied, even if they are not necessary for test code.
Exactly which rules should be excluded may be up for discussion, but I would assume t

[2019-04-04 21:34] lenaorobei commented on #80
Since this Coding Standard is used not by Magento core only, I would not add such exclude because it is tight to Magento2 codebase and does not make sense for extension developers. I suggest be more generic here. Will this work for your case?
[code]

@paliarush need your input here.

[2019-04-04 22:05] danielrenaud commented on #80
This would then not apply to test framework code. However, it's not clear if test framework code should be held to all static tests or not.

[2019-04-05 14:01] danielrenaud commented on #80
@lenaorobei Probably adding the exclusion you suggested would handle the majority of problems. Regarding test framework code, even if we did want to exclude some rules for that, it would most likely be different form the actual tests. And in that case maybe we could just be more accommodating of `phpcs:ignore` in these areas.
So I think adding the exclusion you mentioned above in places that curre

[2019-04-05 19:05] #80 closed

[2019-04-08 15:16] #18 closed

[2019-04-08 16:06] lenaorobei commented on #20
Implemented in https://github.com/magento/magento-coding-standard/pull/72

[2019-04-08 16:06] #20 closed

[2019-04-08 16:11] lenaorobei commented on #9
Hi @ldusan84! We can start with it and run the sniff against Magento codebase. Need to make sure that regex pattern covers all use cases.

[2019-04-08 16:15] lenaorobei commented on #25
Cannot be implemented with PHP CodeSniffer.

[2019-04-08 16:15] #25 closed

[2019-04-08 16:20] orlangur commented on #25
@lenaorobei why we cannot have it with exceptions for particular class types (extending `DataObject`, for instance)?

[2019-04-08 16:20] lenaorobei commented on #34
This rule cannot be implemented using PHP CodeSniffer without false-positive findings.

As per [PHP Stan Proposal](https://github.com/magento/architecture/blob/master/design-documents/testing/static/phpstan.md#long-term-plan) this rule can be covered by PHPStan.

[2019-04-08 16:20] #34 closed

[2019-04-08 16:23] lenaorobei commented on #27
No updated and votes here, so both styles are ok.
No need to enforce.

[2019-04-08 16:23] #27 closed

[2019-04-08 16:28] lenaorobei commented on #25
We need to enforce this rule and can discuss use cases and appropriate tool.
We cannot use PHP Codesniffer for that for sure, because this tool manipulates with file tokens only and does not know about parent classes, etc.

[2019-04-08 18:22] lenaorobei commented on #4
@orlangur thanks for your feedback, however I don't see any reasons to

because Codings Standard is not a Magento component (module). New rules may be added to develop (master) branch and will cause static build failure. By following SemVer we will explicitly let our application know about braking changes.

Here is my proposal for Coding Standard versioning strategy. If you have any concerns regar

[2019-04-08 18:22] lenaorobei commented on #4
Done https://github.com/magento/magento2/blob/2.3-develop/composer.json#L88

[2019-04-08 18:22] #4 closed

[2019-04-08 18:24] lenaorobei commented on #7
@centerax hi Pablo! Do you need any assistance with this ticket?

[2019-04-09 07:39] sprankhub commented on #34
@lenaorobei could you elaborate why this is not possible without false positives?

If this can/should be covered with PHPStan, should we add this proposal somewhere else, so that we do not forget about it?

[2019-04-10 09:37] orlangur commented on #28
@lenaorobei so what is an actual basis for this list https://github.com/magento/magento-coding-standard/issues/14? Why it wasn't discussed and cleaned up from useless rules like this one?

[2019-04-13 15:33] sergeynezbritskiy commented on #33
There is a good sniff which checks that your code satisfied php7 styling code (type hints, return types, declaring strict type etc)
https://github.com/slevomat/coding-standard, can we reuse it ?

[2019-04-13 15:37] sergeynezbritskiy opened #84 "codesniffer 3.4 support"
### Preconditions
Together with this coding standard I'm trying to use this coding standard https://github.com/slevomat/coding-standard for checking php7 features.
Unfortunatelly this library requires codesniffer ^3.4.2, but magento coding standard requires codesnifer ~3.3.0 which means less the 3.4.0.

What about supporting Codesniffer 3.4 ?

[2019-04-15 15:39] lenaorobei commented on #84
Hi @sergeynezbritskiy that's definitely in our roadmap and there should be no issues with that. I added this issue to the community dashboard. You are vey welcome to open PR with version upgrade if you are interested in taking care of it.

One thing we need to take into account is magento dependency update as well.
https://github.com/magento/magento2/blob/2.3-develop/composer.json#L94

[2019-04-17 12:01] tudalrik-ls opened #86 "Undefined index: comment_closer in AbstractApiSniff.php"
### Preconditions
1. magento/magento-coding-standard 1.0.2
2. PHP_CodeSniffer version 3.3.2 (stable) by Squiz (http://www.squiz.net)
3. PHP 7.2.15-0ubuntu0.18.04.2 (cli) (built: Mar 22 2019 17:05:14) ( NTS )

### Steps to reproduce
1. magento-coding-standard/vendor/bin/phpcs --standard=Magento2 --ignore=magento-coding-standard ./
2. File content of AbstractArray.php

[code]

### Expected result
1.

[2019-04-17 17:05] ldusan84 commented on #9
Hi @lenaorobei

I checked and there is almost no difference:

1. With class exists check:

[code]

2. Without class exists check:

[code]

Let me know what you think.

[2019-04-17 21:22] lenaorobei commented on #84
Fixed in https://github.com/magento/magento-coding-standard/pull/85
Thank you @sergeynezbritskiy!

[2019-04-17 21:25] #84 closed

[2019-04-18 09:52] cmuench commented on #84
This change is good. But please keep an eye on backwards compatibility. We added the package via composer in our gitlab-ci pipeline. Every module which checks agains the latest Magento 2.3.1 is now broken.

[2019-04-18 16:28] mzeis commented on #86
Note: I verified that the problem still exists with the 2.0.0 release.

[2019-04-18 18:00] lenaorobei commented on #86
Fixed in magento/magento-coding-standard#87

[2019-04-18 18:00] #86 closed

[2019-04-22 21:05] lenaorobei commented on #9
Hi @ldusan84! Thanks for your investigation.
I run against whole Magento `2.3-develop` codebase and here is summary result:
[code]
There are a lot of odd findings in deprecated methods like:

https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Cms/Model/PageRepository.php#L212

https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Cms/Model/BlockRepository.php#L20

[2019-04-24 20:50] lenaorobei commented on #9
Resolved in https://github.com/magento/magento-coding-standard/pull/89

[2019-04-24 20:50] #9 closed

[2019-04-25 14:15] #7 closed

[2019-04-26 14:38] ldusan84 commented on #31
Hi @lenaorobei

I investigated a bit, there might be 3 scenarios in core where the rule is not applicable.

1. Overriding setTemplate method.
2. setTemplate in tests.
3. setTemplate used in constructor.

All the other occurrences are rule violation and should be refactored.

Let me know what you think.

[2019-04-29 15:14] danmooney2 opened #93 "Exception thrown in single catch block passes"
## Preconditions

- Magento.Exceptions.ThrowCatch rule implemented (magento/magento-coding-standard#43; tested on Magento Coding Standard 2.0.0 and 1.0.1)

## Steps to reproduce

- Run phpcs with --standard=Magento2 against file containing multiple catch blocks (it fails as it should):

[code]

Run phpcs with --standard=Magento2 against file containing one catch block (it passes when it should not

[2019-04-30 15:20] orlangur commented on #45
@lenaorobei,

Please provide a rule among https://devdocs.magento.com/guides/v2.3/contributor-guide/backward-compatible-development/ applicable to this case.

`Magento2` is definitely not a proper vendor name and goes against any proper versioning policy, including you recent proposal. Currently https://github.com/magento/magento-coding-standard is quite confusing as it contains "Magento Coding St

[2019-05-02 21:29] lenaorobei commented on #31
Hi @ldusan84

I can raise this question during weekly architecture discussion https://github.com/magento/architecture/issues/153
Would you be interested in attending? So we can cover this topic and move forward.

[2019-05-07 12:06] sergeynezbritskiy opened #94 "JS, CSS, Less files checking"
### Rule
Now I can see that this standard works for .php and .phtml files only. Any plans regarding .js, .css, .less files support ?

[2019-05-08 19:50] larsroettig commented on #93
Hi @danmooney2,
it is not a Bug the check is for _Exceptions must not be handled in the same function where they are thrown. _. In your example the both thrown the Exceptions out of the function.

[2019-05-08 20:19] danmooney2 commented on #93
Both examples throw all of their exceptions out of the function so both files should pass then?  Please elaborate why having > 1 catch block passes this rule.

[2019-05-11 01:01] markshust opened #95 "Empty FUNCTION statement detected should be allowed for around plugins"
### Description
A WARNING is thrown for sniff "Empty FUNCTION statement detected"

This warning should not be through if the empty function is an `around` plugin. A common use-case for around plugins is to prevent execution of the original calling method. For example:

[code]

### Expected behavior
I would expect this sniff to still run and throw a WARNING in all circumstances other than an `aroun

[2019-05-13 14:29] lenaorobei commented on #94
Hello @sergeynezbritskiy.

You're right, now this coding standard is designed for PHP only. For JS files Magento uses ESLint and JSCS and for Less - some custom PHPCS implementation. You can find it under `dev/tests/static` folder of Magento2 codebase.

If you have any ideas and suggestions of how to change or improve this we would be happy to see the proposal in the [magento/architecture](https:/

[2019-05-13 14:29] #94 closed

[2019-05-16 23:25] likemusic opened #97 "Delete ConstantUsageSniff (Magento2.Translation.ConstantUsage) from coding standard"
### Description
ConstantUsageSniff (Magento2.Translation.ConstantUsage) should be deleted because it encourage code duplication (what is bad practice) by message: `Constants are not allowed as the first argument of translation function, use string literal instead`.

### Expected behavior
Don't inspect if constants used as first argument of translation function.

### Benefits
Less code duplicates -

[2019-05-17 14:53] paul-gene opened #98 "Results showing duplicate inspections"
I have cloned down the repo, and added the ruleset to PHPCS.

In PHPStorm, I have selected Magento2 ruleset.

When I run the inspection on a file, it shows duplicate results for the same sniff, please see attached screenshot.

<img width="845" alt="Screen Shot 2019-05-17 at 15 52 46" src="https://user-images.githubusercontent.com/47739147/57936430-d9372c80-78bb-11e9-8181-2c7af3a1dfab.png">

[2019-05-17 17:05] lenaorobei commented on #98
Hello @paul-gene.

I cannot reproduce this bug.
<img width="898" alt="Screen Shot 2019-05-17 at 12 01 20 PM" src="https://user-images.githubusercontent.com/17548019/57944137-9bc2a700-789b-11e9-8096-cf16b70ea113.png">
My only guess is that you have 2 `button.phtml` files in different namespaces with same issue. Could you please double check that.

[2019-05-21 07:36] foggyreads opened #99 "Templates XSS Security and short echo tag syntax"
### Description

Consider the following code:
`<input type="hidden" name="<?php /* @escapeNotVerified */ echo $block->getInputElementName();?>" value="" id="<?php /* @escapeNotVerified */ echo $_id;?>"`

A template with this snippet will raise the following warning:

### Expected behavior

Template XSS Security tags are here to improve the quality of code and so are EQP tests. It seems of higher v

[2019-05-21 09:14] tseillan commented on #99
Problem mostly between chair & keyboard.

[2019-05-21 14:42] paul-gene opened #100 "MEQP or Magento Coding Standards?"
Which is the preferred ruleset?

I understand MEQP will be updated soon and lose M2 support, however, I also noticed that MEQP ruleset seems to suggest usage of `<?php echo` instead of short-hand notation, but MCS ruleset suggests `<?=` instead.

Which is it?

[2019-05-21 17:54] ldusan84 commented on #31
Hi @lenaorobei

Sorry for the late reply.

Yeah let's do it if it's still possible.

Thanks.

[2019-05-21 21:40] lenaorobei commented on #99
Hello @foggyreads,

The code snipped you've posted will raise following:
[code]
The sniff which detects `Short echo tag syntax` misusage is `Magento2.PHP.ShortEchoSyntax`. It is all about code style, not about XSS. Please see related Magento 2 PR https://github.com/magento/magento2/pull/1563

For XSS purpose `Magento2.Security.XssTemplate` was implemented and it covers unescaped output.

Hope it m

[2019-05-21 21:40] #99 closed

[2019-05-21 21:41] lenaorobei commented on #98
Closing this issue since no feedback provided.

@paul-gene fell free to reopen it if you feel like it is coding standard bug.

[2019-05-21 21:41] #98 closed

[2019-05-21 21:54] lenaorobei commented on #100
@paul-gene, the answer is **Magento Coding Standard**.
Here is the link to [Magento DevDocs](https://devdocs.magento.com/guides/v2.3/coding-standards/code-standard-php.html).

MEQP will serve for Magento 1.x code only.

[2019-05-21 21:54] #100 closed

[2019-05-22 20:02] danmooney2 commented on #93
@larsroettig Could you please clarify if the sniff is written properly, and if so, why example #1 passes while example #2 fails?

[2019-05-24 13:12] ihor-sviziev opened #102 "Add description why php functions marked as discouraged and give alternatives"
### Preconditions
N/A

### Steps to reproduce
1. Make PR to Magento with changed file, that don't have like about ignoring discouraged pathinfo function or run magneto coding standard against some file.

### Expected result
1. You should get understandable message what's wrong with your code, message `The use of function pathinfo() is discouraged` isn't clean enough
2. For case when some function

[2019-05-24 13:29] gixid192 commented on #102
Totally agree. I wanted to follow the rules but sometimes it's hard to find an alternative function.

Usually, my approach is searching for that function in the whole vendor/magento folder, see if the Core team use it else where in the code. If I can't find it, I got stuck.

I also know that some are just warning, it is there to help developers mind the usage of the function, for example `base64_d

[2019-05-31 14:20] lenaorobei opened #105 "[New Rule] Implement sniff for classes and interfaces PHPDoc formatting"
### Rule
PHPDoc formatting for classes and interfaces.

**Acceptance Criteria:**

- Sniff covers described on [DevDocs requirements](https://devdocs.magento.com/guides/v2.3/coding-standards/docblock-standard-general.html):

If the short description adds no additional information beyond what the type name already supplies, the short description must be omitted.
- Rule covered by unit test.

[code]

[2019-05-31 14:41] lenaorobei opened #107 "[New Rule] Implement sniff for constants PHPDoc formatting"
### Rule
PHPDoc formatting for constants.

**Acceptance Criteria:**

- Sniff covers described on [DevDocs requirements](https://devdocs.magento.com/guides/v2.3/coding-standards/docblock-standard-general.html):

- Rule covered by unit test.

[code]

[2019-05-31 14:46] lenaorobei commented on #93
@larsroettig could you please check this isse? Thank you.

[2019-05-31 15:54] larsroettig commented on #93
Yep Lena I will take a look how we can solve it

Lena Orobei <notifications@github.com> schrieb am Fr. 31. Mai 2019 um 16:46:

--

Lars Röttig

Certified PHP Engineer / Web Developer

Magento Community Maintainer
MAGENTO 2 CERTIFIED PROFESSIONAL DEVELOPER MAGENTO CERTIFIED DEVELOPER
PLUS                  Zend Certified PHP Engineer

Telefon +49 8031 2210 55 - 0
Telefax +49 8031 2210 55 - 22
l.roet

[2019-06-04 14:36] danmooney2 commented on #93
@lenaorobei Now that we have mutual agreement on the issue, what is the process for removing buggy sniffs from the ruleset?

[2019-06-04 14:38] lenaorobei commented on #93
I would probably decrease its severity to 0 until it fixed.
Need architectural input here @paliarush.

[2019-06-04 15:20] paliarush commented on #93
If I understood the scenario correctly, it is false negative. In this case we should just report an issue to fix the sniff.

If it is false positive - then it should be removed until fixed.

[2019-06-04 15:29] danmooney2 commented on #93
I believe both files referenced above should actually _pass_ the rule; editing the expectation

[2019-06-04 17:46] larsroettig commented on #93
I think is a false positive I forget  to take a look  sorry at the weekend

Alex Paliarush <notifications@github.com> schrieb am Di. 4. Juni 2019 um
17:20:

--

Lars Röttig

Certified PHP Engineer / Web Developer

Magento Community Maintainer
MAGENTO 2 CERTIFIED PROFESSIONAL DEVELOPER MAGENTO CERTIFIED DEVELOPER
PLUS                  Zend Certified PHP Engineer

Telefon +49 8031 2210 55 - 0
Telefa

[2019-06-05 11:03] ihor-sviziev opened #108 "Documentation for Magento2.Templates.ThisInTemplate rule"
### Description
Right now the only one option to use helpers inside blocks - is following code:
`$this->helper(<helper_class>)`, but this Magento2.Templates.ThisInTemplate rule complains against it. As result - we have to add to ignore Magento2.Templates.ThisInTemplate in many view files.

Examples:
Try to find "Magento2.Templates.ThisInTemplate" in following commit:
https://github.com/magento/mag

[2019-06-05 14:35] lenaorobei commented on #108
@ihor-sviziev thanks raising this question.

First of all we need to define correct recommendation here. On the one hand the use of helpers in is general discouraged, on the other hand we have legacy code that requires significant refactoring in order to archive this.

Do we want to change sniff behavior and allow `$this->helper(<helper_class>)` or we want to suppress such line for now and refacto

[2019-06-05 17:59] lenaorobei opened #109 "[Bug] AbstractApiSniff throws an error when there is no PHPDoc block in the class"
### Steps to reproduce
Run Magento 2 coding standard and AbstractApiSniff against the abstract class with missing Doc block.

### Expected result
Sniff detects nothing

### Actual result
`An error occurred during processing; checking has been aborted. The error message was: Undefined index: comment_closer in ...`

[2019-06-05 18:35] lenaorobei commented on #109
Fixed in https://github.com/magento/magento-coding-standard/issues/86

[2019-06-05 18:35] #109 closed

[2019-06-05 18:54] lenaorobei opened #110 "[Bug] ForeachArrayMergeSniff throws an error for inline control structure"
### Steps to reproduce
Run ForeachArrayMergeSniff against file that contains inline control structure.

[code]

### Expected result
Sniff detects nothing. There is no way to detect function scope without `{}`.

### Actual result
`An error occurred during processing; checking has been aborted. The error message was: Undefined index: scope_opener in ...`

[2019-06-05 19:16] #110 closed

[2019-06-05 20:43] lenaorobei commented on #93
@danmooney2 looking at your examples I would say that sniff should fail in both case. The whole purpose of this rule was to prohibit exceptions handling (catching  and doing something) and throwing in the same function. Maybe I'm missing something. Could you please explain why do you think those examples should pass?

[2019-06-05 22:32] danmooney2 commented on #93
Can we clarify this rule in the documentation?  Should it be: Exceptions must not be thrown from where they are caught?  It looks like the sniff is written that way.

"Exceptions must not be handled in the same function where they are thrown" means, in my mind, that catch blocks shouldn't operate on exception objects whatsoever.  Obviously, logging the exception has huge benefit, but also benefici

[2019-06-06 00:16] danmooney2 commented on #93
I reverted back to original issue description/expectation.  I changed it out of a knee jerk fear of having to do even more refactoring of something I don't completely understand 😨, apologies.

[2019-06-06 09:40] danmooney2 commented on #93
"Exceptions MUST NOT be rethrown."

When read like that the rule makes much more sense.

[2019-06-06 13:55] ihor-sviziev commented on #108
Hi @lenaorobei,
Unfortunately I'll not be able present on next architecture discussion. Could you raise this question instead of me?
Thank you

[2019-06-06 14:14] lenaorobei commented on #108
Sure, I'll do that.

[2019-06-06 18:58] lenaorobei commented on #93
@danmooney2 I've talked with @paliarush regarding exceptions handling best practices. The main points are:
- Exceptions must not be used for conditional logic.
- Each application layer must use its own exceptions scope, e.g.:
[code]

Hope it makes sense.

[2019-06-06 19:18] danmooney2 commented on #93
OK I understand not rethrowing caught exceptions in the same function (that's entirely what the sniff is doing).  I still petition to change the wording of the rule for those unlucky individuals who interpret handling as simply having the existence of a catch block.

[2019-06-06 19:20] danmooney2 commented on #93
Also @lenaorobei I thought we agreed this is a false positive; both examples should fail.

[2019-06-06 19:27] lenaorobei commented on #93
Both examples should fail, but only one fails and it's `false negative`. In case if sniff raises warnings when it shouldn't - it's `false positive`.

[2019-06-07 14:26] lenaorobei commented on #97
Hi @likemusic,

Thanks for raising this issue. You're right, the root cause of this issue is hidden under `i18n:collect-phrases`. I suggest opening issue or even proposal (PR) in the [magento/architecture](https://github.com/magento/architecture) repository and describe the problem. Since there is direct correlation the referenced static check will be removed once `i18n:collect-phrases` will be im

[2019-06-07 14:34] lenaorobei commented on #31
@ldusan84, sure. I can be discussed during any upcoming meeting https://github.com/magento/architecture/issues?q=is%3Aissue+is%3Aopen+label%3A%22meeting+notes%22

[2019-06-11 16:14] larsroettig commented on #93
Hi, @lenaorobei @paliarush,
but I think these 2 examples should be okay.

**Exsample1:**
[code]
<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

namespace Magento;

class UserRepo
    /**
     * @param int $id
     * @throws \Magento\Framework\Exception\NotFoundException
     */
    public function load(int $id)
    {
        /// some logic

[2019-06-12 11:50] celorodovalho opened #113 "Single line @inheritdoc shouldn't be allowed?"
### Description
Accord with https://github.com/php-fig/fig-standards/blob/master/proposed/phpdoc.md#2-conventions-used-in-this-document, we can use single line annotations for @inheritdoc DocBlocks. But, there is no mention about "single line / inline @inheritdoc" in Magento Guidelines (https://devdocs.magento.com/guides/v2.3/coding-standards/docblock-standard-general.html#inheritdoc), and if run

[2019-06-12 14:02] orlangur commented on #113
Thanks @lenaorobei. Inheritdoc is currently under process of complete removal in Vinai devdocs PR.

[2019-06-12 14:28] lenaorobei commented on #113
@celorodovalho please refer this PR for more details https://github.com/magento/devdocs/pull/4425

[2019-06-19 15:26] lenaorobei commented on #108
This issue was discussed during architecture discussion https://github.com/magento/architecture/issues/183. Notes:
- The use of helpers is in general discouraged.
- `Magento2.Templates.ThisInTemplate` rule should remain the same.
- `$this->helper(<helper_class>)` code should be refactored and blocks contain all necessary dependencies.

I suggest adding documentation for`ThisInTemplateSniff.md` lik

[2019-06-20 13:39] celorodovalho opened #115 "Different reports to the same code"
### Steps to reproduce
I installed the dependency through the command:
`composer require --dev magento/magento-coding-standard`

Then I executed the command:
`./vendor/bin/phpcs --standard=Magento2 /path/to/file/MassDelete.php`

And I got the following result:
[code]

However, on another computer, performing the same procedure, the following result is displayed:
[code]

### Expected result
1. The

[2019-06-20 14:22] lenaorobei commented on #115
Hello @celorodovalho. Looks like you are using different coding standards on another computer and I suspect it's [magento/marketplace-eqp](https://github.com/magento/marketplace-eqp).

Could you please run `./vendor/bin/phpcs -i` on both computers and show the output?

[2019-06-28 16:27] lenaorobei commented on #93
@larsroettig both examples should be fine since it is different exception type.

[2019-07-17 13:16] lenaorobei commented on #115
Closing this issue due to inactivity.
@celorodovalho, feel free to create the new one in case of any issues.

[2019-07-17 13:16] #115 closed

[2019-07-17 18:52] #107 closed

[2019-07-18 19:52] lenaorobei commented on #102
@magento assign me

[2019-07-18 19:53] lenaorobei commented on #102
@magento I am working on it

[2019-07-18 20:43] lenaorobei commented on #31
@magento assign me

[2019-07-18 20:51] lenaorobei commented on #21
@magento I am working on it

[2019-07-18 20:52] lenaorobei commented on #31
@magento I am working on it

[2019-07-18 21:00] lenaorobei commented on #31
@magento i am working on it

[2019-07-18 21:03] lenaorobei opened #117 "test issue"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.

### Expected result

1.
2.

### Actual result

1.
2.

[2019-07-18 21:04] lenaorobei commented on #117
@magento i am working on it

[2019-07-18 21:12] engcom-tester commented on #117
@magento I am working on it

[2019-07-18 21:25] #117 closed

[2019-07-22 09:50] esprit-dev commented on #98
Hello, i reproduce the same issue. All warning are duplicated. Maybe a bug ?
PhpStorm phpcs is configure with this file : dev/tests/static/framework/Magento/ruleset.xml
My magento version : 2.3.2

<img width="737" alt="Capture d’écran 2019-07-22 à 11 49 39" src="https://user-images.githubusercontent.com/7630693/61623401-dfa8a280-ac76-11e9-83f3-f6a2f72074a1.png">

Thx

[2019-07-22 09:56] larsroettig commented on #98
Hi @esprit-dev,
which PhpStorm version you are using? For it looks like a bug from PhpStorm.

[2019-07-22 10:03] esprit-dev commented on #98
Hi @larsroettig
Here my phpstorm version :
- PhpStorm 2019.1.2
- Build #PS-191.7141.52, built on May 8, 2019
- JRE: 1.8.0_202-release-1483-b49 x86_64
- JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
- macOS 10.14.3

[2019-07-22 10:10] larsroettig commented on #98
PhpStorm 2019.1.3 is already stable pls update and try out I can not reproduce

[2019-07-22 12:22] esprit-dev commented on #98
Thx for your answer. Update to 2019.1.3 does not resolve problem...

New input that can help a little : problem started after upgrading to Magento 2.3.2 : the ruleset file is now referencing Coding Standard module :
`<rule ref="./../../../../../vendor/magento/magento-coding-standard/Magento2"/>`

I had no issue with Magento 2.3.1 (ruleset was standalone / no include / full rules)

[2019-07-23 15:01] agkozak commented on #98
There's a bug report over on the PHPStorm YouTrack:

https://youtrack.jetbrains.com/issue/WI-46317

[2019-07-23 15:26] lenaorobei commented on #113
@celorodovalho mentioned PR is merged DevDocs are reflecting Magento recommendation.
https://devdocs.magento.com/guides/v2.3/coding-standards/docblock-standard-general.html

We also have an issue to implement corresponding rule and replace with the existing one https://github.com/magento/magento-coding-standard/issues/54

If you feel like DevDocs contain wrong information please do not hesitate to

[2019-07-23 15:26] #113 closed

[2019-07-24 16:16] orlangur commented on #97
Until `bin/magento i18n:collect-phrases` behavior is changed there is nothing to change here from coding standard perspective, why keep this issue open?

[2019-07-28 11:26] Nolwennig commented on #97
@orlangur maybe for to occur a chain reaction when `i18n:collect-phrases` behavior will be update ;-)

@lenaorobei at this time, nobody open issue or PR in the [magento/architecture repository](https://github.com/magento/architecture) isn't  ?

[2019-07-28 16:39] hostep opened #118 "Space before colon required in phtml files when using alternative syntax for control structures?"
### Description
Hi

This is more a question or a start of a discusion around the fact that currently a space is required before a colon in phtml files when using the [alternative syntax for control structures](https://www.php.net/manual/en/control-structures.alternative-syntax.php).

So currently Magento code standards expects us to use this format in phtml files:
[code]

I'm wondering why this is

[2019-07-29 07:50] chris-pook commented on #118
I agree with this, the additional space adds nothing really and is very inconsistent across the codebase.

[2019-07-30 14:34] lenaorobei commented on #108
magento/magento-coding-standard#119

[2019-07-30 14:34] #108 closed

[2019-07-30 16:43] lenaorobei commented on #97
@Nolwennig unfortunately isse was not opened.

Closing this issue since the root cause is in `bin/magento i18n:collect-phrases` behaviour.

@likemusic feel free to reopen or create the new one when the enhancement of `bin/magento i18n:collect-phrases` will be approved in the [magento/architecture](https://github.com/magento/architecture) repository.

[2019-07-30 16:43] #97 closed

[2019-07-30 19:36] lenaorobei commented on #105
Hi @udovicic! How is your progress with this ticket? Do you need any help?

[2019-07-30 19:37] lenaorobei commented on #58
Hi @ryantfowler! How is your progress with this ticket? Do you need any help?

[2019-08-01 09:43] ryantfowler commented on #58
Hi @lenaorobei , I should have an update by this weekend. I've been tied up with work. Thanks

[2019-08-01 19:41] udovicic commented on #105
Hi @lenaorobei , help no, but more hours in one day definitely. I think I will be done be the end of the week.

[2019-08-01 20:40] lenaorobei commented on #93
https://github.com/magento/magento-coding-standard/pull/120

[2019-08-01 20:40] #93 closed

[2019-08-01 22:36] diazwatson opened #121 "Magento2.Templates.HelperInTemplate Rule"
After the work done in https://github.com/magento/magento-coding-standard/issues/108 I kept wondering:

- Why we include this rule in ThisInTemplateSniff?
- Why not create a separate HelperInTemplateSniff to check for the use of `helpers` in `PHTML` files?
- Should we also explain how to create a ViewModel or is enough mentioning how to use it in the template?
- How about adding a link to the [Dev

[2019-08-03 14:22] diazwatson commented on #102
You can use `Magento\Framework\Filesystem\Io\File` which has a wrapper for that function.

Example:
https://magento.stackexchange.com/questions/192978/the-use-of-function-pathinfo-is-discouraged-magento-2/284317#284317

[2019-08-03 14:58] ihor-sviziev commented on #102
Looks really good! Thank you!

However it adds alternative only for one function.
This issue was created in order to provide some alternative for all discouraged functions, it could be done even with documentation that describes motivation why **each function** was marked as discouraged and what should be used instead.

[2019-08-03 17:43] diazwatson commented on #102
Sure, np I will add those

[2019-08-04 00:00] diazwatson commented on #102
@ihor-sviziev I just reviewed the list of `$forbiddenFunctions` and is huge (187 functions are forbidden).

Also not all of them have an equivalent or wrapper in Magento.
Should we add them to Magento2 repo?

Anyway I have added some more alternatives for discouraged functions

[2019-08-09 16:03] lenaorobei commented on #54
@larsroettig, few comments to your example:

[2019-08-09 18:25] lenaorobei commented on #54
**Test should NOT fail.**
This example contains negative scenarios:
[code]
**Test should fail:**
This example contains positive scenarios:
[code]

@Vinai would appreciate much if you could have review these examples.

[2019-08-10 05:16] konarshankar07 commented on #75
Hello @lenaorobei
Can I have this assigned to me please?
Thanks

[2019-08-12 07:35] paul-gene opened #128 "PSR 12 update?"
Now that PSR12 has been released, when will we see an update to include it as part of the ruleset?

[2019-08-12 14:27] lenaorobei commented on #128
Hi @paul-gene! That's a really good question. If you are interested in promoting this idea it would be great if you could open a proposal in the [magento/architecture](https://github.com/magento/architecture) repo.

[2019-08-12 14:55] lenaorobei commented on #102
Keep this for future recommendations enhancement.

[2019-08-12 15:18] #105 closed

[2019-08-13 15:21] lenaorobei opened #131 "@deprecated tag MUST be explained"
### Description
If classes/interfaces/functions/constants/class members are marked as `@deprecated` the description and `@see` tag must be provided.

### Expected behavior
In PHPDoc blocs `@deprecated` tag must have description and following `@see` tag with reference.

### Good example:
[code]

### Bad example:
[code]

[2019-08-13 16:42] udovicic commented on #131
Considering that functions sniff is currently in development (see #54), should we omit that one for now, or implement either way?

[2019-08-13 16:46] lenaorobei commented on #131
If you could create method in the helper class, I will ask @larsroettig to reuse it for functions formatting.

[2019-08-13 16:47] lenaorobei commented on #95
https://github.com/magento/magento-coding-standard/pull/126

[2019-08-13 16:47] #95 closed

[2019-08-13 17:28] larsroettig commented on #131
Hi, i implementiert a docblock parser. See my pull request

Lena Orobei <notifications@github.com> schrieb am Di. 13. Aug. 2019 um
18:47:

--

Lars Röttig

Certified PHP Engineer / Web Developer

Magento Community Maintainer
MAGENTO 2 CERTIFIED PROFESSIONAL DEVELOPER MAGENTO CERTIFIED DEVELOPER
PLUS                  Zend Certified PHP Engineer

Telefon +49 8031 2210 55 - 0
Telefax +49 8031 2210 55

[2019-08-13 19:16] hostep commented on #118
@lenaorobei: any updates here?

If this gets approved, it best happens before Magento 2.3.3 gets released, otherwise a lot of files will get changed to the other format and then again in 2.3.4 to this new proposal (if approved). It would be nice if all changes could happen in a single Magento release if possible.
This makes figuring out what changed in between releases easier as fewer files will h

[2019-08-13 20:14] lenaorobei commented on #118
@hostep I'm fine with this change, but unfortunately we can be done for 2.3.4 and later. We have code freeze for 2.3.3 now.

@paliarush are you ok with it?

[2019-08-16 14:24] #121 closed

[2019-08-16 21:16] #75 closed

[2019-08-16 21:55] #21 closed

[2019-08-21 14:36] #118 closed

[2019-08-26 15:14] lenaorobei opened #136 "Add excludes for test files"
### Description
All rules that do not apply on test files need to have one more exclude.
[code]

### AC
- Rules contain additional exclude.
- Additional PR in https://github.com/magento/magento2 where all false skip annotations are removed.
Example: https://github.com/magento/magento2/blob/20db8f67b96e98609ea9d8835ae3830625fa6464/dev/tests/integration/framework/Magento/TestFramework/Workaround/Cle

[2019-08-30 08:34] matthiashamacher opened #137 "[New Rule] Use Yoda Conditions"
### Rule
Use Yoda Conditions to avoid assignments inside a condition statement.

### Reason
With Yoda Conditions it is not possible to assign a variable inside a condition statement, which improves the code quality because it prevents possible assignment errors.

### Implementation
Some other Frameworks, such as Symfony, are using Yoda Conditions and have checks for them.

[2019-08-30 09:12] Vinai commented on #137
Even though I personally favor yoda style comparison, I think a rule for this would be too restrictive.
The reasons for this are the following.
Many developers find yoda style equality checks harder to reason about because in their mind the comparison is done the other way around.
In my experience, such accidental assignments where extremely rare and never got past a code review. Nowadays they wou

[2019-08-31 09:20] konarshankar07 commented on #136
Fixed in https://github.com/magento/magento-coding-standard/pull/138

[2019-09-04 16:46] #131 closed

[2019-09-04 16:51] lenaorobei commented on #137
I agree with @Vinai here. It is more about personal preferences not about the code style. I do understand you intention, but we don't want to enforce developers to use yoda conditions and limit somehow their personal preferences.

Sorry, going to close this PR.

[2019-09-04 16:51] #137 closed

[2019-09-04 16:52] lenaorobei commented on #128
@paul-gene if you dont mind, I will update this issue with the action items that need to be done in order to accomplish this task.

[2019-09-04 16:58] konarshankar07 commented on #136
Hello @lenaorobei,
I'm still working on creating additional PR in Magento 2 repo where I'll remove false skip annotation
Thanks

[2019-09-04 17:01] lenaorobei commented on #136
@konarshankar07 great, it can be done right after new release and dependency update https://github.com/magento/magento2/blob/2.3-develop/composer.json#L90

[2019-09-04 17:02] #70 closed

[2019-09-04 17:04] konarshankar07 commented on #136
@lenaorobei then I'll wait till the next release

[2019-09-04 17:04] lenaorobei commented on #58
@ryantfowler sorry, unassigning you from this issue since no updates.
Feel free to assign yourself again if you want to continue working on this task. Thanks.

[2019-09-04 18:07] konarshankar07 commented on #58
Hello @lenaorobei ,
Can we just add `Squiz.Commenting.VariableCommentSniff` in our ruleset?

[2019-09-04 18:23] lenaorobei commented on #58
@konarshankar07 need to check if it complies with DevDocs. I checked long time ago, and there was differences. But anyway, it can be taken as a good basis.

[2019-09-05 13:13] konarshankar07 commented on #58
@lenaorobei  no problem, I'll create new rule for class properties

[2019-09-24 07:00] ihor-sviziev opened #142 "[New Rule] No imports from static tests namespaces"
### Rule
I suggest to add one rule that will check that there is no imports from static tests namespaces.

### Reason
Time to time we're getting issue with running tests on PRs in magento/magento2 repository because someone imported `\Magento\Tests\NamingConvention\true\string` by mistake. As result - we have "No build reports available" for "Database Compare build", "Functional Tests build", "Sam

[2019-09-24 07:22] ihor-sviziev opened #143 "[New rule] Do not use in_array"
### Rule
`in_array` creating performance issue in many places when it used a lot of times.

### Reason
Performance diff: https://stackoverflow.com/questions/13483219/what-is-faster-in-array-or-isset

It causes performance issues:
- https://github.com/magento/magento2/pull/24677
- https://github.com/magento/magento2/issues/20966
- https://github.com/magento/magento2/pull/4088

### Implementation

[2019-09-24 21:27] lenaorobei opened #144 "Using coding standard as s reference is causing error"
`develop` branch is not working with Magento 2 codebase
### Preconditions
1. Have cloned `magento/magento2`

### Steps to reproduce
1. Change `composer.json` dependency to `"magento/magento-coding-standard": "dev-develop"`
2. Run `composer update magento/magento-coding-standard`
3. Run
    - `vendor/bin/phpcs --standard=dev/tests/static/framework/Magento/ruleset.xml app/code`
   **or**
    - `php

[2019-09-24 21:45] lenaorobei commented on #143
I would say even: "Do not use `in_array` in the loop".
`ForeachArrayMergeSniff` can be extended and renamed in order to perform this check
https://github.com/magento/magento-coding-standard/blob/develop/Magento2/Sniffs/Performance/ForeachArrayMergeSniff.md

[2019-09-25 03:00] ihor-sviziev commented on #143
We could start from this.

But actually in most cases it’s quite obvious that it could cause performance issues in a loop, while real performance issues becoming on integration phases, when one method that contains in_array for few elements  just called few thousands times. Example related to magento https://github.com/tedious/JShrink/pull/90

[2019-09-25 15:48] lenaorobei commented on #142
As per https://github.com/magento/architecture/issues/290 it was decided to prohibit any `Magento\Tests` imports in modules.

[2019-09-25 15:50] lenaorobei commented on #143
The issue was discussed during the https://github.com/magento/architecture/issues/290 and it was decided to not to introduce rule that may cause false-positive findings because its static nature (cannot measure actual performance).

[2019-09-25 15:50] #143 closed

[2019-09-25 16:15] andrey-legayev commented on #143
Sure, in_array() is a general practice in PHP and typical answer to question "how to kill performance"
Should I revoke my pull requests?

[2019-09-25 16:24] lenaorobei commented on #143
@andrey-legayev you are very welcome to join next public architecture discussion and share your thoughts. We are open to any improvements in case they provide a real value.

[2019-09-25 16:41] andrey-legayev commented on #143
How to optimize magento2 performance:

 - run profiler
 - look for in_array
 - fix it

This is what I do during last 2 weeks.
How to prevent people not to use in_array() for 2000 elements? sometimes in loop...

[2019-09-25 16:45] lenaorobei commented on #143
I do understand you point and the reason that stays behind the use of `in_array` in loop.
Coding standard rules perform static file analysis and know nothing about array size. The reason why we closed this issue is because PHP CodeSniffer in not appropriate tool to perform such kind of check.

[2019-09-25 16:45] buskamuza commented on #143
@andrey-legayev , I'd better promote better practices of using loops in general. There are many things that can kill performance, and `in_array()` is not the only one. IMO, a real human (developer) should think about performant implementation of loops. A general rule is usually:
* remove anything repeatable outside of a loop

This is not about `in_array()` calls, and it's hard to cover all use cas

[2019-09-25 16:55] andrey-legayev commented on #143
I measured in_array() performance for 1 element and isset() is still be faster.
Sure, I had to run code 100k times to see time difference, but if you use it in some base class of framework for.. readability? and then call it through 20 lines of call stack 200k times. Does it make sense? IMO not.
But feel free to use it for readability.

[2019-09-25 17:16] andrey-legayev commented on #143
For example:
[Magento\Framework\Module\ModuleList::sortBySequence()](https://github.com/magento/magento2/blob/2.3.2/lib/internal/Magento/Framework/Module/ModuleList/Loader.php#L151)
I'm sure in_array() is used inside _double_ loop for readability. Performance isn't needed there, readability is better.

[2019-09-25 17:26] lenaorobei commented on #143
@andrey-legayev I'm afraid, we are talking about different things there. Let me try to explain. There are two statements we are trying to mix:
- `in_array` in loop causes performance issues. Indeed, issues that you provided need to be fixed, there is no discussion regarding this and no objections. Hope, we are on the same page regarding this.
- Static check for the `in_array` in loop detection. Cu

[2019-09-29 20:22] #144 closed

[2019-09-30 17:00] konarshankar07 commented on #142
Hello @lenaorobei ,
What should be the `severity` and `type` for this new rule?
Thanks

[2019-10-01 10:45] lenaorobei commented on #142
@konarshankar, severity - 8, type - warning.

[2019-10-02 09:45] LukasKiederle opened #146 "Codestylecheck fails when function has 2 parameters and one of their types is undefined"
### Description

When a function does have 2 or more parameter in the doc head and one of them have no specified type a PHP Fatal Error occures.

### Steps to reproduce
1. Create a function that looks like:
[code]
2. run code style check with `vendor/bin/phpcs --warning-severity=6 ExampleClass.php --extensions=php --standard=src/dev/tests/static/framework/Magento/ruleset.xml`
3. See PHP Fatal Erro

[2019-10-02 17:10] LukasKiederle commented on #146
I found a way to fix this issue with a simple check if the type is set:
<img width="1241" alt="sniffer-with-check" src="https://user-images.githubusercontent.com/46490366/66065583-04a77480-e548-11e9-9892-b203adc50635.png">

I also found out that the AnnotationSniffs are currently not part of the magento/magento-coding-standard repo as statet in the ruleset.xml in the dev/static folder.

[2019-10-02 17:17] lenaorobei commented on #146
Hi @LukasKiederle. Thanks for your investigation.
Annotation sniffs are not the part of this coding standard because of such issues.
We will not include them to this rule set, however we are working on new implementation. New PHPDoc rules can be found here - https://github.com/magento/magento-coding-standard/tree/develop/Magento2/Sniffs/Commenting

Once everything will be ready, Annotation sniffs

[2019-10-03 13:02] LukasKiederle commented on #146
@lenaorobei Does it make sense to fix this in the magento/magento2 till it is removed?

[2019-10-03 13:10] lenaorobei commented on #146
It looks like critical issue, so I would say - yes. It should be done in this project https://github.com/magento/magento2

[2019-10-03 16:13] LukasKiederle commented on #146
I checked the magento2 project again. It is already fixed since 20.05.19. It seems that something went wrong when we updated our project to the latest magento version. Thanks for your effort.

[2019-10-03 16:13] #146 closed

[2019-10-04 13:29] iGerchak opened #147 "PHP files which contain phtml in the name detect as a template"
### Preconditions
1. Magento coding standard 4.0

### Steps to reproduce
1. Create Block with name AmpHtmlBlock.php with the following content:
[code]

### Expected result
There shouldn't be any warnings

### Actual result
[code]

[2019-10-15 09:17] ihor-sviziev commented on #147
@lenaorobei could you review this issue? As for me - we need to fix it

[2019-10-15 13:08] lenaorobei commented on #147
@iGerchak thanks for reporting. @ihor-sviziev, sure, I agree it needs to be fixed.

[2019-10-30 08:20] ihor-sviziev opened #154 "Document all existing rules"
### Description
As a developer I develop some code and running magento coding standard static tests against my code. But it's not clear what to do in case of some issue.

Example:
[code]

Let's imaging I'm just first time created some PR to magento2 and got these issues, I don't really know **what to do with following things**:
- If the @inheritdoc not inline it shouldn’t have braces
- {@inheritdo

[2019-11-01 06:25] niranjanleanswift opened #155 "Errors can't be found in Magento2 standard ruleset, But only found in marketplace submission."

[2019-11-01 14:56] lenaorobei commented on #155
Hi @niranjanleanswift! Could you please provide detailed steps to reproduce?

[2019-11-02 00:40] rafaelstz opened #156 "Usage of $this in template file"
### Steps to reproduce
1. Check the contact form phtml
2. There is a warning message regarding: `$this->helper`

### Expected result

1. I think it shouldn't be a warning since there is no helper method in the block.

### Actual result
1. It's showing a warning message.

[2019-11-04 14:57] lenaorobei commented on #156
Hi @rafaelstz. This is the expected behavior. The idea behind this is that view models should be used instead. The use of helpers in general is discouraged.

[2019-11-04 14:57] #156 closed

[2019-11-07 09:59] paul-gene opened #158 "Go back to semantic versioning"
Since version 3, semantic versioning has been disregarded.

Is there a specific reason for this?

[2019-11-07 10:10] FreekVandeursen commented on #158
See: https://github.com/magento/architecture/pull/136

[2019-11-07 21:13] lazyguru commented on #158
+1 on this. You are breaking builds by frequently introducing what are effectively BC breaks. There should be version numbers that are then enforced with Marketplace at scheduled intervals (eg, "We recommend you adhere to version 5 but will continue to only enforce version 4 until X date").  With the current solution it's possible that the rules could get changed between the time a package is gene

[2019-11-09 18:05] konarshankar07 commented on #136
Hello @lenaorobei ,
Should I start creating the PR in magento 2 repo?
Thanks

[2019-11-13 12:23] kanduvisla opened #159 "Add sniff for Service Contracts"
### Rule

According to [this page](https://devdocs.magento.com/guides/v2.3/extension-dev-guide/service-contracts/service-to-web-service.html) there are some very specific rules for service contracts. For example:

- Valid object types include a fully qualified class name or a fully qualified interface name.
- Any parameters or return values of type array can be denoted by following any of the prev

[2019-11-13 13:28] kanduvisla commented on #159
This is a small POC:

[code]

[2019-11-13 20:48] lenaorobei commented on #158
Hi @paul-gene! Yes, as @FreekVandeursen mentioned there was a long thread of discussion regarding coding standard versioning.

Semantic version makes sense if we were going to support multiple release lines, for example 1.0.0, then 2.1.0 and patch to 1.0.1, but we don't. This change is the result of the decision that only one (latest) version of coding standard will be supported.

[2019-11-13 20:48] #158 closed

[2019-11-19 14:01] Wesdesignz opened #160 "AbstractApiSniff creates infinite loop if class docblock is missing"
### Preconditions

Confirmed on:
1. Magento 2.3.3
2. PHP 7.2
3. phpcs 3.4.2

Might reproduce on other versions as well, unconfirmed.

### Steps to reproduce

1. Prepare phpcs so that the sniffer can be run
2. Create a class object with NO docblock on the class itself (example attached in comments)
3. Run `phpcs --standard=Magento2 -vvv <file>`

### Expected result

1. Expected the test result to b

[2019-11-19 14:01] Wesdesignz commented on #160
Example class (this is the class it is crashing on in my case):

[code]

[2019-11-19 14:04] Wesdesignz commented on #160
What seems to be happening under the hood, on line 50 AbstractApiSniff is searching for a previous doc comment open tag, which is missing (see example class). Instead of exiting there and providing the user with a warning/error/failure about a missing docblock, it goes into the for loop with values that are either NULL or FALSE, which seems to cause an infinite loop.

I didn't debug it much furthe

[2019-11-19 15:29] lenaorobei commented on #160
@Wesdesignz could you please provide version of the coding standard you are using.
It seems to me that this issue was fixed in https://github.com/magento/magento-coding-standard/pull/87

[2019-11-19 16:01] Wesdesignz commented on #160
magento/magento-coding-standard:1.0.2

[2019-11-19 16:03] Wesdesignz commented on #160
It seems I'm about 5 major versions behind, but composer is not letting me update the package at this time...

[2019-11-19 16:08] Wesdesignz commented on #160
`composer req magento/magento-coding-standard squizlabs/php_codesniffer` fixed the issue, the update wouldn't go through because `squizlabs/php_codesniffer` was behind.

[2019-11-19 16:11] lenaorobei commented on #160
Happy to hear that. I assume we can close this ticket?

[2019-11-19 16:12] Wesdesignz commented on #160
![image](https://user-images.githubusercontent.com/166556/69164183-ca8e3400-0aef-11ea-8961-b3ba543b9892.png)
:confetti_ball:

[2019-11-19 16:12] #160 closed

[2019-12-02 21:28] fooman opened #161 "Migrate Magento PHMD ruleset"
### Rule
Same rules as https://github.com/magento/magento2/blob/2.3-develop/dev/tests/static/testsuite/Magento/Test/Php/_files/phpmd/ruleset.xml

### Reason
Running phpmd without requiring a full installation of Magento makes it easier to run the mess detection in isolation

### Implementation
Provide a copy of the Magento phpmd ruleset in this repository

[2019-12-06 20:48] lenaorobei commented on #155
Closing due to inactivity. Please feel free to reopen with detailed steps to reproduce.

[2019-12-06 20:48] #155 closed

[2019-12-11 16:53] ihor-sviziev commented on #161
I believe it could be done as separate ruleset, not Magento2, so it will not affect all people

[2019-12-11 17:03] ihor-sviziev opened #162 "@deprecated without @see tag false positive"
### Description
Originally this issue appeared here: https://github.com/magento/magento2/pull/21235#issuecomment-564611943

Run static tests against following file:

https://github.com/magento/magento2/blob/5b829a847852f9bcd5ea66d751e0454f33fa3716/app/code/Magento/Customer/Model/Customer.php#L64-L68

Right now you're getting following message:
[code]

As we can see here - there is `@see` tag:
![im

[2019-12-11 19:56] coderimus commented on #128
Hello @lenaorobei just a status update:

1. I updated my local phpcs to the latest stable version `PHP_CodeSniffer version 3.5.3 (stable)` and made a diff between PSR-2 and PSR-12 as we discussed. I am with the Generic list. Everything is clear at this moment.

1. During the investigation I wound next: Magento uses this package `friendsofphp/php-cs-fixer` to provide an auto-fix functionality. Curr

[2019-12-11 20:57] #142 closed

[2019-12-11 22:19] lenaorobei commented on #128
Hi @coderimus! Thanks for the update.
1. Perfect. Let me know if you need any help with this.
2. `friendsofphp/php-cs-fixer` is a different from `phpcs` tool and is not actually related to this repo. I think that such changes should be done in https://github.com/magento/magento2 repo. By the way, sniffer also has OOB beautifier tool `phpcbf`.

[2019-12-14 10:36] krisdante commented on #107
This rule is strange. How PHPCS detect if constant is actually self-explaining or not?
As a result, we end up adding a comment for each constant just to pass the build.

[2019-12-14 10:46] krisdante opened #163 "Improve message for sniff for constants (rule 107)"
### Description
https://github.com/magento/magento-coding-standard/issues/107 message says:

`Constants must have short description if they add information beyond what the constant name supplies.`

This is missleading message as this warning is shown for all the constants. Even obvious ones as `NUMBER_PI=3.14`.

### Expected behavior
The message shall say:
`Constants must have short description`

[2019-12-14 12:41] krisdante opened #164 "Misleading message for constant comment"
### Preconditions
The following code comes from Image component:
[code]

### Steps to reproduce
Test with phpcs
`vendor/bin/phpcs --standard=Magento2 lib/internal/Magento/Framework/Image`

### Expected result
It shall pass

### Actual result
[code]

This is misleading information. The code has a description. Also the constant is self-explanatory.

The test checks if the comment is not equal to the

[2019-12-16 15:28] lenaorobei commented on #163
Hi @krisdante. Could you please share the whole code snipped including PHP DocBlock?
Let me share the expected behavior of this rule.

**Not OK** (Description duplicates the name):
[code]
**OK** (no description):
[code]
**OK** (meaningful description):

[code]

[2019-12-16 15:32] lenaorobei commented on #164
@krisdante please see my comment here https://github.com/magento/magento-coding-standard/issues/163#issuecomment-566109514

This is the expected behavior. There is no need to duplicate the constant name in the DocBlock.

Documentation: https://devdocs.magento.com/guides/v2.3/coding-standards/docblock-standard-general.html#constants

If the short description adds no additional information beyond wh

[2019-12-16 15:32] #164 closed

[2019-12-16 15:37] lenaorobei commented on #107
@krisdante constants may have a short description. If the short description adds no additional information beyond what the constant name already supplies, the short description must be omitted.

https://github.com/magento/magento-coding-standard/blob/develop/Magento2/Helpers/Commenting/PHPDocFormattingValidator.php#L58

[2019-12-17 22:13] krisdante commented on #163
Yes, you are right. I got confused by the message.

[2019-12-17 22:13] #163 closed

[2019-12-26 06:34] ihor-sviziev opened #165 "Do not allow slash the beginning of the class pass in use"
use section does not actually need \ at the beginning of the classpath (leading backslash).
Let’s enforce it by static tests to prevent appearing such cases in future

_Originally posted by @ihor-sviziev in https://github.com/magento/magento2/pull/26129#issuecomment-567404199_

[2020-01-09 00:30] tmotyl commented on #33
Any progress here? Is there help needed?

[2020-01-09 09:19] arushibansal013 opened #167 "@author MUST NOT be used."
### Rule

@author MUST NOT be used

### Reason

As per magento DocBlock document (https://devdocs.magento.com/guides/v2.3/coding-standards/docblock-standard-general.html#documentation-space)

Structure of documentation space
@author ,@category, @package, and @subpackage MUST NOT be used. Documentation is organized with the use of namespaces.

### Implementation

Need to add @author in $forbiddenTa

[2020-01-09 17:12] lenaorobei commented on #33
@tmotyl
This coding standard is used to check older Magento 2.x versions that are compatible with PHP < 7.0. This is the reason why this rule is not beeng added here. We support only one version of coding standard, so there is no specific branches for separate Magento releases.

[2020-01-10 06:49] tmotyl commented on #17
Hi
Any progress here?

[2020-02-04 06:39] konarshankar07 commented on #165
Hello @ihor-sviziev ,
What should be the severity and type of this rule?

[2020-02-04 07:16] konarshankar07 commented on #165
After further investigation, I found that this rule is a part of PSR-12. Please check `PSR12.Files.ImportStatement`. Let me know your thoughts
Thanks

[2020-02-04 08:07] ihor-sviziev commented on #165
@lenaorobei could you defined which severity should be set for this rule? As for me - should be 6, similar to https://github.com/magento/magento-coding-standard/blob/199057a8ca960e0bb191ec8fd7a409fbd91c8a51/Magento2/ruleset.xml#L457-L460

@konarshankar07 I think it's good idea to re-use rules from PSR12

[2020-02-04 15:41] lenaorobei commented on #165
Agree with @ihor-sviziev, severity 6 is that we use for code style.

And yes, it would be nice to reuse PSR12.

Adding @coderimus since he is working on PSR12 update.

[2020-02-13 08:55] diazwatson opened #172 "The use of function filectime() / filemtime() is discouraged"
### Rule

I saw a warning  similar to this in my IDE the other day:
[code]
It was not coming from Magento CS but from PHPCS which I am currently using WITH Magento 2 CS.

If this check / warning is already there, would not be helpful to provide developers with some guidance or alternatives on what they can use instead?

### Reason

TBC: I am still doing some research to understand WHY the use of t

[2020-03-11 12:42] navarr opened #173 "Require @see annotations for plugin classes and methods"
### Rule
* A plugin class should have a `@see` annotation to the class(es) that it is intercepting.
* Each plugin method should have a `@see` annotation to the method(s) it is intercepting

### Reason
This rule would improve QOL for developers by providing a definitive link to what a plugin is intercepting.  This can be especially useful for plugins that are intercepting more than one class.

###

[2020-03-11 13:07] Vinai commented on #173
Isn't this kind of superfluous noise?

* The target class of the plugin is visible as the first argument of every plugin method
  (e.g. `public function beforeDispatch(\Magento\Framework\App\Action\Action $subject)`)
* The target method is visible in every plugin method name
  (e.g. `public function beforeDispatch` => the method `dispatch`)

Additionally, the PHPStorm Magento Plugin adds
* An icon

[2020-03-11 13:19] schmengler commented on #173
I agree, @Vinai . Thinking about this sentence though:

In this case we should rather request the docblock to specify a union type (until we have native union types in PHP 8)

Also, I usually advice to name the plugin after the pluginized class/interface and delegate actual operations to a service with a meaningful name, especially if there are plugins for multiple methods. I don't think this shou

[2020-03-11 13:23] navarr commented on #173
@Vinai:

You may be correct.  In some instances the annotation may be redundant.  For plugins that are intercepting more than one class the target class cannot be declared in the signature.  I think this could be resolved by updating the implementation to exclude the requirement on such lines, though there's no link that can be utilized by any IDE

The PhpStorm Magento plugin does resolve this as

[2020-03-11 13:49] Vinai commented on #173
@navarr

This is only true if the plugin is used to intercept the *same method* multiple classes that don't share a common type (e.g. an interface).
I've never seen that happen. Can you give an example? I would suspect that would lead to problems anyway because even though the method name is the same, the signature very likely would be different. Using the same plugin in such a case of interceptin

[2020-03-11 14:00] Vinai commented on #173
@schmengler

Clicking on the plugin icon in PHPStorm and seeing a list of identically named plugin classes is one of my favorite pet peevs. It's really not helpull to see for example a list of `ActionPlugin`s.

In my experience is much more helpful if the plugins are named after their purpose, e.g. `TokenAuthenticationPlugin`, `CacheingPlugin`, `RequestLoggingPlugin`...

[2020-03-11 14:05] schmengler commented on #173
I used to think the same, but I like to see from a glance, for which classes a module has plugins, and di.xml does not serve that well.

Understand your argument though. Maybe I don't use this plugin icon often enough with methods that have more than one or two plugins.

[2020-03-11 15:07] nathanjosiah commented on #173
It's an unusual habit to have an IDE-driven design and I don't think that should be a consideration for this PR. If we could assume everyone was using PHPStorm we could switch to tabs instead of spaces and reduce our processing time and storage space by a significant amount 😉

Not considering PHPStorm or the Magento plugin for it, I do feel like this would be a helpful feature for plugins that int

[2020-03-11 15:26] lbajsarowicz opened #174 "Require `const` visibility"
### Rule
Currently `const` are declared without visibility:
https://github.com/magento/magento2/blob/78bb169ff9721c8d05c35b4c29a4464fd45bccbe/app/code/Magento/Catalog/Model/Product.php#L54-L73

I suggest extending Coding Standard to require visibility - for example:
[code]

### Reason
`const` should be explicit if we can use them as a reference or it's declaration is only internal.

### Implementa

[2020-03-11 15:36] lenaorobei commented on #174
I really like this idea but the reason behind this is supported versions. Constants visibility was introduces in PHP 7.1.0 and Magento 2.2.x still supports `7.0`.

The idea of coding standard was to have unified set of rules across all release lines. However we had some discussions about version specific rules https://github.com/magento/magento-coding-standard/issues/17

[2020-03-11 15:40] lbajsarowicz commented on #174
But... We are not going to support `2.2` anymore.
Am I missing some information about EOL of `2.2`?

[2020-03-11 15:42] lenaorobei commented on #174
This standard is used for Magento Marketplace extensions verification and i believe patch versions of `2.2.x` extensions are still allowed.

[2020-03-11 16:23] fascinosum commented on #173
This approach is a violation of best practices - don't describe the implementation in DocBlock (method/class description). The declaration in di.xml is an implementation. If someone changes it (removes or adds plugin declaration) you will have a wrong statement in the DocBlock.

We need to remember that the plugin can be added by one module and disabled by another. If you check the di.xml declarat

[2020-03-11 17:12] joshua-bn commented on #173
Don't use a plugin to wrap multiple methods. Use a single plugin with a single method for each. Then use that to call another method that contains the shared logic.

Let the code, not documentation, be the source of truth.

[2020-03-11 17:13] joshuaadickerson commented on #173
Don't use a plugin to wrap multiple methods. Use a single plugin with a single method for each. Then use that to call another method that contains the shared logic.

Let the code, not documentation, be the source of truth.

[2020-03-18 11:17] lbajsarowicz opened #175 "`@magentoAppArea` annotation REQUIRED for Controllers Integration Tests"
### Rule
Integration Test class should contain
[code]

### Reason
This is required annotation to specify the area code for Controllers.
Integration Tests fail when it's missing.

### Implementation

[2020-03-18 11:17] lbajsarowicz commented on #175
CC: @lenaorobei We've faced issue related to it when fixing PageBuilder tests.

[2020-03-18 14:38] lenaorobei commented on #175
Hi @lbajsarowicz,

From what I see on DevDocs it does not seem to be required https://devdocs.magento.com/guides/v2.3/test/integration/annotations/magento-app-area.html

Could you please provide more context?

[2020-03-18 14:44] lbajsarowicz commented on #175
When Integration Tests are missing `@magentoAppArea` it's automatically assumed that it's `frontend`. So if you refer to `adminhtml` - this causes failure (router is unable to recognize the route).

Doing so helps avoiding the situations that we already had with PageBuilder IntegrationTests during introducing AbstractInterface.

[2020-03-22 17:50] lbajsarowicz opened #178 "Avoid using PHPUnit_Framework_MockObject_MockObject"
### Rule
`PHPUnit_Framework_MockObject_MockObject` triggers warning

### Reason
The `PHPUnit_Framework_MockObject_MockObject` was deprecated long time ago and `\PHPUnit\Framework\MockObject\MockObject` should be used

### Implementation

[2020-03-31 18:39] ihor-sviziev commented on #178
As for now I added this class to `dev/tests/static/testsuite/Magento/Test/Legacy/_files/obsolete_classes.php` as part of https://github.com/magento/magento2/pull/27519

I don't really think is's good idea to have such check in magento coding standards.

[2020-04-01 20:27] lenaorobei commented on #178
@lbajsarowicz agree with @ihor-sviziev.
I'm closing this issue in favor of internal task [MC-33003](https://jira.corp.magento.com/browse/MC-33003) for implementing regular static test but not the part of coding standard.

[2020-04-01 20:27] #178 closed

[2020-04-01 20:39] lbajsarowicz commented on #178
Thank you.

[2020-04-13 15:44] #147 closed

[2020-04-19 20:38] lbajsarowicz opened #182 "Unit Tests: Cross-module inheritance forbidden"
### Rule
**Inheritance from namespace other than `\PHPUnit\...` and the same that module is in is forbidden**

### Reason
TLDR: Avoid unnecessary coupling between modules.

While working with **Unit Tests** migration for Magento Commerce / B2B, we have faced multiple weird types of inheritance introduced - eg. Unit Test completely unrelated to Magento Catalog, inherited Unit Test from Magento Cata

[2020-04-24 09:14] lbajsarowicz opened #183 "No plugins in `\Magento\Framework` namespace"
### Rule
\Magento\Framework cannot have plugins

### Reason

### Implementation

[2020-05-05 16:00] Gemorroj opened #185 "How to avoid errors ?"
I tried to submit module to magento store, but I get some errors in technical review report, for example:

[code]

but in fact, it should be ignored (as I think): https://github.com/calcurates/module-magento/blob/v1.10.0/Model/Carrier/Cache.php#L86
In local machine with magento 2.3.5 these errors are really ignored.

Please, can you tell me, how to avoid these errors in order to pass a technical r

[2020-05-19 21:22] lbajsarowicz opened #187 "Do not use `getResource()->save()` in Model"
### Rule
`getResource()` use is deprecated and Resource Model should be injected with DI to the Model class.

### Reason
Most of the **Mageto 2** tutorials and stackoverflow answers:

1. https://www.mage2.tv/content/setup-scripts/adding-a-custom-eav-attribute/adding-an-input-filter-to-a-customer-or-address-attribute/
2. https://magento.stackexchange.com/questions/163933/good-practice-how-to-save-m

[2020-05-21 05:28] milindsingh commented on #187
@lbajsarowicz what should the severity for this case?

[2020-05-21 09:05] lbajsarowicz commented on #187
@milindsingh I'm really sorry, but I have no idea :-(

[2020-05-21 13:59] lenaorobei commented on #187
@milindsingh it should be `8` like for other `Magento specific issues`. Please see https://github.com/magento/magento-coding-standard/wiki/Magento-Marketplace-Extensions-Verification

[2020-05-22 20:32] lenaorobei opened #188 "Test"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.

### Expected result

1.
2.

### Actual result

1.
2.

[2020-05-22 20:32] lenaorobei commented on #188
@magento I am working on this

[2020-05-22 20:33] #188 closed

[2020-05-25 06:38] DmitryFurs commented on #185
It looks like marketplace is running code sniffer with [--ignore-annotations](https://github.com/squizlabs/PHP_CodeSniffer/wiki/Usage) that ignore all **phpcs:** annotations in code comments.

Try to replace it with [hash()](https://www.php.net/manual/en/function.hash.php) function `$cacheKey = hash('md5', $serializedRequest);`
Since you use **md5** to build cache key you can change hashing algo t

[2020-05-25 07:27] Gemorroj commented on #185
@DmitryFurs thanks for answer.
But it's only one example. Look to another one - https://github.com/calcurates/module-magento/blob/e1c7739c25eea49b022f119b9dfd6ce253c98bfb/view/adminhtml/templates/order/packaging/popup.phtml#L211
I can't avoid this error.

[2020-05-26 16:58] lenaorobei commented on #185
`xml` layout configuration should be used instead of `include`.

For any marketplace related issues please create support ticket. This repository is dedicated to issues related to coding standard itself.

[2020-05-26 16:58] #185 closed

[2020-07-30 06:29] lbajsarowicz commented on #174
@lenaorobei Do you think that we can proceed with the rule now?

[2020-07-30 14:09] lenaorobei commented on #174
Hi @lbajsarowicz,

Tagging @vkublytskyi and @roribio who are in charge of Magento Marketplace Extensions Quality Program.

Do we still check 2.2.x extensions?
If no, I think we can move forward with this rule.

[2020-07-30 16:19] vkublytskyi commented on #174
Hi! Good improvement for coding standards! And thank you for notifying us.

At the current moment, [Magento Developer Portal](https://developer.magento.com/) still allows submitting extension with declared 2.2 compatibility for Magento Commerce and Magento Commerce Cloud (Magento Open Source allows to specify compatibility only with 2.3 and 2.4 release lines). Therefore we still run tests on obsol

[2020-08-17 20:04] lenaorobei opened #191 "PHP 7.4 compatibility"
### Steps to reproduce
See travis build results https://travis-ci.com/github/magento/magento-coding-standard/jobs/372726109

### Expected result
Job passes without deprecation warning

### Actual result
Job fails with ` Array and string offset access syntax with curly braces is deprecated`

[2020-08-17 21:46] #187 closed

[2020-08-18 14:10] #191 closed

[2020-08-20 09:09] ihor-sviziev opened #194 "False positive - Direct throw of generic Exception is discouraged"
### Preconditions
1. Magento 2.4-develop
2. Latest coding standards

### Steps to reproduce
1. Create file with following content:
[code]
2. Run coding standards against it

### Expected result
1. You shouldn't have any issues with it, especially message "Direct throw of generic Exception is discouraged. Use context specific instead" should not appear as "Exception" class is imported from `Magento

[2020-09-02 20:59] #162 closed

[2020-09-25 21:50] ihor-sviziev commented on #165
@konarshankar07 do you have any updates? Do you have some working version?

[2020-09-26 06:03] konarshankar07 commented on #165
Hello @ihor-sviziev ...
I'm waiting for the PSR12 update cause there is already a rule for this in PSR-12. I'm not sure if we have updated the PSR12 or not
Thanks

[2020-10-09 10:29] darshanperpule opened #196 "Uncaught Error: Class 'GraphQL\Language\Token' not found in /usr/share/php/PHP/CodeSniffer/src/Files/File.php:556"
### Steps to reproduce

1. Install phpcs
2. Configure Magento2 coding standard
3. run any module which contains graphql

### Expected result

1.It should run the command and shows the result. But actually, it's giving below error
`PHP Fatal error:  Uncaught Error: Class 'GraphQL\Language\Token' not found in /usr/share/php/PHP/CodeSniffer/src/Files/File.php:556
Stack trace:`

### Actual result

1.

[2020-10-10 18:31] ihor-sviziev opened #197 "Do not recommend using static:: for private constants"
### Rule
Using `static::` for private constants and methods discouraged.

### Reason
In case if someone will extend the class OR create plugin for it - he will get the `Undefined class constant` error.
In past we had few issues related to this - https://github.com/magento/magento2/pull/28797 https://github.com/magento/magento2/pull/29925.

We had it only with constants, but potentially the same is

[2020-11-20 10:31] DmitryFurs commented on #183
@lbajsarowicz I also found 2 plugins in the commerce edition, and they are exactly the same

**vendor/magento/module-scalable-checkout/etc/di.xml**
[code]

**vendor/magento/module-scalable-oms/etc/di.xml**
[code]

[2020-12-19 22:03] thomas-kl1 commented on #10
@lenaorobei

If you want Magento to be an highly extensible and customizable platform, you should allow the "final" keyword...

That article sum it up fine: https://ocramius.github.io/blog/when-to-declare-classes-final/

Good abstraction and extensibility come from good architecture... "Final" is also a good way to promote composition, what Magento is trying to push

[2021-01-18 10:20] hostep commented on #165
Not sure if this is helpful but PSR-12 support just made it in [v2.18.0 of friendsofphp/php-cs-fixer](https://github.com/FriendsOfPHP/PHP-CS-Fixer/releases/tag/v2.18.0) (also not sure if this comment makes sense in this repo since the magento2 repo makes use of it but the coding-standard not, which is odd ...)

[2021-01-19 16:13] sakiss commented on #185
Though the generation of an error from the md5 function, seems invalid without being able to determine it's context.
Also used by the Magento's core modules, see: _vendor/magento/module-tax/Model/System/Message/Notifications.php_

[2021-01-28 20:30] markshust commented on #33
Since PHP 8 is now released, is it time to drop support for PHP < 7.0 and merge this in?

[2021-02-15 12:05] hkvega01 opened #203 "Not able to add magento 2 standard"
### Preconditions

1. magento 2.3 existing project
2. codesniff already installed
3. vendor/magento/magento-coding-standard installed

### Steps to reproduce

1. add "scripts": {
    "post-install-cmd": [
      "([ $COMPOSER_DEV_MODE -eq 0 ] || vendor/bin/phpcs --config-set installed_paths ../../magento/magento-coding-standard/)"
    ],
    "post-update-cmd": [
      "([ $COMPOSER_DEV_MODE -eq 0 ]

[2021-02-15 13:01] #203 closed

[2021-05-17 17:00] cjnewbs commented on #167
@arushibansal013 I have created a PR (#204) that adds the ability to use `phpcbf` to remove automatically. Is it worth me adding `@author` in the same PR?

[2021-08-02 08:46] asheem-patro opened #210 "Fatal error: Uncaught Error: Class 'Magento\Framework\Filter\Template' not found in /root/.composer/vendor/magento/magento-coding-standard/Magento2/Sniffs/Html/HtmlDirectiveSniff.php:76"
### Preconditions

1. Error while running PHPCS from another directory after the latest updates.
2. Fatal error: Uncaught Error: Class 'Magento\Framework\Filter\Template' not found in /root/.composer/vendor/magento/magento-coding-standard/Magento2/Sniffs/Html/HtmlDirectiveSniff.php on line 76

### Steps to reproduce

1. Take the latest pull from https://github.com/magento/magento-coding-standard
2

[2021-08-02 08:54] asheem-patro commented on #210
@magento I am working on this

[2021-08-02 08:54] asheem-patro commented on #210
@magento add to contributors team

[2021-08-02 08:55] asheem-patro commented on #210
@magento I am working on this

[2021-08-02 12:58] cjohansson opened #213 "Missing PHP-Doc data is now generating level 5 errors"
### Steps to reproduce
1. Clone repo https://github.com/magento/magento-coding-standard, this did not occur in earlier versions
2. Have a class constructor that lacks PHP-Doc comments
3. Testing a Magento 2 module with `vendor/bin/phpcs --standard=Magento2 --error-severity=1 --warning-severity=0 $PATH_TO_MODULE`

### Expected result
1. No errors are generated and warnings are suppressed

### Actua

[2021-08-05 13:38] #210 closed

[2021-08-09 14:08] edspc opened #214 "Class 'Magento2\Sniffs\Html\Template\Tokenizer\Parameter' not found"
### Preconditions

1. Error while running PHPCS from another directory after the latest updates.
2. Fatal error: Uncaught Error: Class 'Magento2\Sniffs\Html\Template\Tokenizer\Parameter' not found in /home/amasty/phpcs/vendor/magento/magento-coding-standard/Magento2/Sniffs/Html/HtmlDirectiveSniff.php:165

### Steps to reproduce

1. Install magento-coding-standard according to the [instructions](ht

[2021-08-09 14:09] edspc commented on #214
@magento I am working on this

[2021-08-20 12:08] #214 closed

[2021-08-24 08:28] Hexmage opened #226 "PHPUnit does not install."
### Preconditions

1. composer require phpmd/phpmd magento/magento-coding-standard squizlabs/php_codesniffer
2.

### Steps to reproduce

1. composer require phpmd/phpmd magento/magento-coding-standard squizlabs/php_codesniffer
2. run bin/phpcs --config-set installed_paths ~/vendor/magento/magento-coding-standard

### Expected result

1. The command to run

### Actual result

1.
[code]

### The Cau

[2021-08-24 08:50] Hexmage commented on #226
@magento I am working on this

[2021-08-24 12:10] sivaschenko commented on #226
Thanks for reporting the issue and proposed fix, @Hexmage !

I don't think PHPUnit should be a production dependency.

Can you please check if this alternative fix works for you https://github.com/magento/magento-coding-standard/pull/228 ?

[2021-08-24 12:12] Hexmage commented on #226
@sivaschenko That should work and is a better solution.

[2021-08-24 12:14] Hexmage commented on #226
Sorry about that meant to close my pull request instead of the ticket.

[2021-08-24 12:18] #226 closed

[2021-08-24 13:34] xpoback commented on #226
@sivaschenko While PHPUnit should not be a production dependency, its absence should also not break the ability of the script to work in normal mode. I think the fix in #228 is the right solution.
Can you tell when the fix gets included to any tag, so that it can be installed as a "stable" dependency (and not as "dev-master")

[2021-08-26 12:16] oneserv-heuser opened #235 "Cannot install v8 due to requirements"
It's impossible to install version 8 of this package in combination with magento as with update 8 this package now requires ["webonyx/graphql-php": "^14.9"](https://github.com/magento/magento-coding-standard/blob/05c75c0bc195621f3053d9270c75c8e7ea88ae66/composer.json#L13) and magento itself requires [ "webonyx/graphql-php": "^0.13.8"](https://github.com/magento/magento2/blob/21aa619fb497556d5f948f

[2021-08-30 05:13] ihor-sviziev commented on #235
In Magento it will be updated as well in https://github.com/magento/magento2/pull/33858

[2021-08-30 07:59] andrewbess commented on #235
Hello @oneserv-heuser
Thank you for your report.
The `magento-coding-standard` v8 will be delivered together with `webonyx/graphql-php` 14.9.0.

[2021-08-30 07:59] #235 closed

[2021-08-31 10:15] svera opened #242 "Catch badly put newlines in LESS files."
### Description

Newlines existing in the middle of a style definition for LESS files should be catch. Currently, `Magento2/Sniffs/Less/ColonSpacingSniff.php` has this checking in place but it is not working, as PHPCS strips newlines that goes in the middle of a sentence.
### Expected behavior

Being able to catch the following case
[code]
### Benefits

An incorrect LESS formatting would be catch

[2021-09-01 17:22] vkublytskyi commented on #213
Caused by magento-coding-standard#209

[2021-09-03 11:56] sivaschenko commented on #213
Thanks for bringing this up @cjohansson ! The severity for annotation tests have been reduced to warning 5: https://github.com/magento/magento-coding-standard/blob/develop/Magento2/ruleset.xml

[2021-09-03 11:56] #213 closed

[2021-09-03 12:01] sivaschenko commented on #196
@darshanperpule is this issue still actual? I was not able to reproduce it on the latest codebase

[2021-09-04 07:34] #242 closed

[2021-09-07 08:33] #58 closed

[2021-09-08 08:05] Hexmage opened #265 "PHP Syntax errors in xml files"
### Preconditions

1.  magento/magento-coding-standard v9
2. A magento module that has an xml file that starts with `<?xml version="1.0" ?>`

### Steps to reproduce

1. run  `bin/phpcs ./ --standard=Magento2 --severity=10`

### Expected result

1. Nothing module passes the test

### Actual result

1.
[code]
[code]

This bug got introduced in v9 because our pipelines were running v8 yesterday and d

[2021-09-10 10:55] ihor-sviziev commented on #265
@sivaschenko, could you set the high priority for this issue?

[2021-09-11 06:13] andrewbess opened #268 "Wrong checking of the short descriptions in the class properties"
### Preconditions

1. Wrong checking of the short descriptions in the class properties when code sniffer checks old class in Magento using magento-coding-standard v9 (v8 checks it correctly)
<img width="1504" alt="wrong-checking" src="https://user-images.githubusercontent.com/10788564/132938160-95410527-0acc-4f30-b128-be142846323c.png">
2. Perhaps it is reproduced after https://github.com/magento/

[2021-09-12 19:03] sivaschenko commented on #268
@andrewbess I as can see the short description in the file that was checked (https://github.com/magento/magento2/blob/2.4.3/lib/internal/Magento/Framework/View/Design/Fallback/Rule/Simple.php) does duplicate the property name. Do you have any propositions on how we can improve this sniff?

[2021-09-14 09:30] andrewbess commented on #268
The problem has been fixed in https://github.com/magento/magento-coding-standard/pull/270
Thank you @svera
Waiting for the next release (v10)

[2021-09-14 09:31] #268 closed

[2021-09-16 15:57] hostep opened #275 ""Copyright is missing or has wrong format" warning on custom modules"
### Preconditions
Hi folks, I recently tried upgrading the coding standards library in my custom module from version 6 to version 10 and it suddenly starts complaining about missing copyright headers in files in my module?

This is something I should decide, not something you should decide right?

This coding standards library is still meant for 3rd party modules as well, right? Not only for check

[2021-09-16 21:58] hostep opened #276 "Magento2.Annotation.MethodArguments.MethodArguments can't deal with phpstan-style array argument types"
### Preconditions
This started happening after upgrading the coding-standard library from version 6 to version 10 on a custom module of mine.

I suspect that this library currently can't deal wit [phpstan-style array argument types](https://phpstan.org/writing-php-code/phpdoc-types#general-arrays)

### Steps to reproduce
1. Have a class like this:
[code]
2. Run this library over it

### Expected r

[2021-09-16 22:05] hostep commented on #275
Maybe the copyright check should only happen on files that use `Magento` as first part of their namespace?

[2021-09-17 08:47] fredden commented on #33
It looks like this can be closed. PHP version 8 has this feature enabled and does not require the extra line of code in each file. When modules (both core & third-party) support PHP version 8 this check will not be required. There's no value having this line on PHP written for version 8, so adding a check to require this line isn't useful.

According to the [system requirements page on devdocs](ht

[2021-09-20 14:14] svera commented on #275
@hostep thank you for the report. You could also exclude this specific sniff through the command line using the `--exclude=Magento2.Legacy.CopyrightAnotherExtensionsFiles` flag, or create another ruleset based on the Magento one that excludes the sniffs you don't want.

@fascinosum do you think we should restrict this sniff to files in the `magento` namespace only?

[2021-09-20 16:02] hostep commented on #275
I've thought about that namespace a bit more, but that only applies to PHP files, while the copyright is also required in other files like xml files, so that would be tricky to get right probably.

I'm aware of the exclude flag and I was using it to filter that warning out, but thanks for putting it out here in case other people run into the same problem! 🙂

[2021-09-21 09:44] eliseacornejo commented on #265
Hi, I am trying to recreate this issue, with a xml file that starts with <?xml version="1.0" ?> but in my case I am not able to recreate this. Could you please @Hexmage give me more details, on how and when are you having this? Are you using the ruleset from magento-coding-standard or do you have your own ruleset?

[2021-09-21 09:50] Hexmage commented on #265
@eliseacornejo
This is the exact yml I was using. It was added to all our module repositories, so not a full magento installation. Back then the lastest version of magento-coding-standard was v9.

[code]
The error occurred in the last step.

[2021-09-22 08:23] eliseacornejo commented on #265
@magento I am working on this

[2021-09-22 08:23] eliseacornejo commented on #265
@magento add to contributors team

[2021-09-22 08:24] eliseacornejo commented on #265
@magento I am working on this

[2021-09-22 08:27] eliseacornejo commented on #265
@Hexmage I could recreate the issue and I know what is happening, in this magento-coding-standard we added also to check xml, but we need to exclude them from the php rules, I will be working on a solution that is going to be available next release

[2021-09-22 10:49] sivaschenko commented on #275
@hostep @svera what do you think about introducing a new ruleset dividing the tests designed for Adobe projects specifically and less strict rules for 3rd party projects. That might be related to internal ticket AC-206

[2021-09-22 12:09] hostep commented on #275
@sivaschenko: that would probably be the best solution!

Other good candidates that could be added to the Adobe ruleset are:
- `Magento2.Annotation.MethodAnnotationStructure.MethodAnnotation`
- `Magento2.Annotation.MethodAnnotationStructure.MethodArguments`
- `Magento2.Annotation.MethodArguments.MethodArguments`
- `Magento2.Commenting.ClassPropertyPHPDocFormatting.Missing`
- `Magento2.Legacy.Copyr

[2021-09-22 12:37] barbazul opened #280 "Magento2.Commenting.ClassPropertyPHPDocFormatting fails to detect comment for typed class properties"
**Describe the bug**

When using typed class properties the "Missing PHP DocBlock for class property." warning is triggered

**Code sample**
[code]

**To reproduce**
Steps to reproduce the behavior:
1. Create a file called `test.php` with the code sample above...
2. Run `phpcs test.php ...`
3. See error message displayed
[code]

**Expected behavior**
No warning should be raised as the property has

[2021-09-22 15:11] ihor-sviziev commented on #265
I guess it was fixed in https://github.com/magento/magento-coding-standard/commit/c5dbf030c9eaf4b9715405b3ae11e67164d2bbf0 ?

[2021-09-23 04:18] fascinosum commented on #275
@svera I agree with @sivaschenko, we should have a separate more advanced ruleset for Adobe repositories and a general basic ruleset

[2021-09-27 08:56] svera commented on #265
@ihor-sviziev yes, this will be included in release 11, to be published next tomorrow

[2021-09-28 10:46] svera commented on #280
Hi @barbazul,
Thank you for your bug report, it has been confirmed and resolved, fix will be published in next release.

[2021-09-28 23:09] marcusirgens opened #294 "Release cadence"
Hi, there have been multiple major version releases in the last month. At which point may we expect this project to reach a somewhat stable state?

[2021-09-29 07:55] ihor-sviziev commented on #265
Fixed in https://github.com/magento/magento-coding-standard/pull/279. I'm closing this issue

[2021-09-29 07:55] #265 closed

[2021-09-29 09:19] karyna-tsymbal-atwix opened #295 "Compatibility with PHP 8"
### Preconditions
In PHP 8, functions like **token_get_all** treat namespaced names as single token, e.g.
[code]
Details:
https://wiki.php.net/rfc/namespaced_names_as_token

There are couple places in the code that rely on the php7-style implementation:
[code]

### Expected result
These methods should be checked and updated, the logic should work on PHP 8 as it was on PHP 7.

example from the main

[2021-09-29 14:15] xmav commented on #295
@magento export issue to Jira project AC as Story

[2021-09-30 15:14] ivancukns commented on #194
Until this gets fixed by Magento, one possible workaround is to assign an alias to this Exception class, like this:
`use Magento\Framework\Validator\Exception as ValidatorException;`

Same goes for all classes that are named like the base generic Exception class.

[2021-10-01 07:32] svera commented on #294
Hi @marcusirgens
expect to have a release every Tuesday until all static checks have been moved from Magento. We plan to finish by mid October.

[2021-10-01 12:13] barbazul commented on #280
Upgraded to 12.0 and the issue was fixed.

There is a new ERROR in the report though which I will have to look into. might be a violation that was previously not checked

[code]

[2021-10-01 12:13] #280 closed

[2021-10-02 16:23] hostep opened #303 "Strange behavior of Magento2.Annotation.MethodAnnotationStructure.MethodAnnotation check"
### Preconditions
1. `magento/magento-coding-standard` version 12

### Steps to reproduce
1. Have a class like this:
[code]
2. Run `vendor/bin/phpcs -s --standard=Magento2 --ignore=./vendor/ .`

### Expected result
1. No confusing `Missing short description` and `There must be exactly one blank line before tags` warnings for the `$output` parameter

### Actual result
1. Getting this output:
[code]

[2021-10-02 16:26] hostep commented on #275
@svera: this seems to be fixed in v11 of this module. Should we close this issue or is there anything else you want to do in scope of this issue?

[2021-10-02 18:41] fredden commented on #275
It looks like these sniffs were disabled in https://github.com/magento/magento-coding-standard/commit/f8cab4a2223bf49acd0686a0016517502b9b78c3, but I can't tell if that was intended to be temporary or not. (If it was intended to be permanent, removing the sniffs would have been a better choice.) There's mention of `AC-1335` and `AC-1314` in the commit, but I have no way of knowing what they refer

[2021-10-04 14:13] ihor-sviziev commented on #174
@sivaschenko, can it be approved and implemented?

[2021-10-14 18:02] xmav opened #314 "AutogeneratedClassNotInConstructorSniff fails with specific code"
### Preconditions

### Steps to reproduce
1. Run `AutogeneratedClassNotInConstructorSniff` sniff on class with the following code

[code]

### Expected result
Sniff should not trigger error

### Actual result
[code]

Also please test it with
[code]

[2021-10-20 13:21] ihor-sviziev commented on #275
Great! Thx for the update. Waiting for the release

[2021-10-21 14:39] bgorski opened #315 "Magento2.Commenting.ClassPropertyPHPDocFormatting throws an error when processing typed class properties"
### Preconditions

1.
2.

### Steps to reproduce

1. Try processing a class that has typed properties. Here's a sample:
[code]

### Expected result
1. The class can be processed

### Actual result
1. Processing fails with the following error:
[code]
This prevents phpcs from processing the class any further.

That's the token wrongly interpreted as a comment closing tag:
[code]

[2021-10-21 19:56] barbazul commented on #315
Looks like a duplicate of https://github.com/magento/magento-coding-standard/issues/280

[2021-11-01 14:15] #314 closed

[2021-11-02 13:38] sivaschenko commented on #275
@ihor-sviziev new version is avaiable https://github.com/magento/magento-coding-standard/releases/tag/v14

[2021-11-02 15:00] ihor-sviziev commented on #275
@hostep, could you confirm that issue is fixed in version 14?

[2021-11-02 21:31] hostep commented on #275
@ihor-sviziev: as mentioned [above](https://github.com/magento/magento-coding-standard/issues/275#issuecomment-932779280), this was already fixed in v11 of this module (just re-tested this right now to be sure, and it's fixed in versions 11, 12, 13 and 14)

So, should we close this issue, or is something still not finished yet?

[2021-11-02 21:35] hostep commented on #275
I do still believe some other checks shouldn't be included in the `Magento2` coding standard (requiring documentation on top of every single method or class for example), I don't see what the benefit of this is and why it should be required for non-Magento core code?

[2021-11-03 08:11] ihor-sviziev commented on #275
@hostep thank you for confirmation!
I'm closing this issue

[2021-11-03 08:11] #275 closed

[2021-11-03 08:13] ihor-sviziev commented on #275
@hostep, as to me - it's a good idea. Could you create a separate issue for that with a list of suggestions?

[2021-11-03 08:51] fredden commented on #275
There's an existing list here: https://github.com/magento/magento-coding-standard/issues/275#issuecomment-924869036

[2021-11-03 09:15] sivaschenko commented on #275
@hostep @fredden @ihor-sviziev it is our recommendation to use the annotation sniffs for extensions and customizations, so they will be kept in the Magento2 coding standard for now. I do understand that each project is unique and can have a specific preference for the code style.

There is an ability to adjust the ruleset provided by magento-coding-standard for your project needs, utilising the ru

[2021-11-03 21:24] OleksiiStepanov opened #323 "Fatal error when use ObjectManager static methods"
### Preconditions

1. Use v14

### Steps to reproduce

1. create some class with function that call `ObjectManager::setInstance($defaultObjectManager);`
2.

### Expected result

1. No errors

### Actual result

1. Got error:
`
PHP Fatal error:  Uncaught TypeError: Argument 2 passed to Magento2\Sniffs\PHP\AutogeneratedClassNotInConstructorSniff::validateRequestedClass() must be of the type int, boo

[2021-11-09 13:44] rmsundar1 commented on #174
@magento I am working on this

[2021-11-15 14:29] #174 closed

[2021-12-12 11:29] OleksiiStepanov opened #340 "When property declared as nullable. Wrong sniffer result for Magento2.Commenting.ClassPropertyPHPDocFormatting.Missing"
### Preconditions

1. php 7.4
2. version  16

### Steps to reproduce

1. create some class with `declare(strict_types=1);`
2. declare nullable property fot this class like
[code]
### Expected result

1. No errors

### Actual result

1.  phpcs: Magento2.Commenting.ClassPropertyPHPDocFormatting.Missing: Missing PHP DocBlock for class property.

[2021-12-16 12:06] #194 closed

[2021-12-16 17:04] ihor-sviziev commented on #194
Hi @svera,
Could you please explain why did you close the issue and PR and didn't leave any comment?

[2021-12-18 20:18] sergeynezbritskiy commented on #340
@magento I am working on this

[2021-12-22 11:45] #340 closed

[2021-12-24 11:21] lamasfoker commented on #235
As today none magento release use the `14.9` version of `webonyx/graphql-php`, see the [2.4.3-p2 composer.json](https://github.com/magento/magento2/blob/2.4.3-p1/composer.json#L82), I think people can install only `v6` of `magento/magento-coding-standard`

[2021-12-24 13:08] ihor-sviziev commented on #235
@lamasfoker, yeah, that's true, but 2.4.4 will have the ability to install the current coding standards.

[2021-12-24 14:22] lamasfoker commented on #235
Yes, I know @ihor-sviziev but I have to wait for 8 march and update Magento to the latest version. I think that decoupling `magento/magento-coding-standard` from the dependencies of the project is better.
It is possible to commit to my project only `Magento2/ruleset.xml` file and run
[code]
as the [phpcs docu claim](https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-Ruleset)?

[2021-12-28 07:16] DmitryFurs opened #351 "False positive Magento2.Legacy.PhtmlTemplate"
### Preconditions

1. `.phtml` file with `<script type="text/x-magento-init">`
2. magento-coding-standard v16

### Steps to reproduce

1. Create `.phtml` file with `<script type="text/x-magento-init">`
2. run `phpcs`

### Expected result

1. No `Magento2.Legacy.PhtmlTemplate` triggered

### Actual result

[code]

### Additional Notes
It's probably false positive triggering, or I'm missing somethin

[2021-12-28 08:38] DmitryFurs opened #352 "False positive Magento2.Legacy.ObsoleteResponse"
### Preconditions

1. a class that uses **property** (not method) `_redirect` or `loadLayout`
2. magento-coding-standard v16

### Steps to reproduce

1. a class that uses **properties** (not methods) that are listed in the list of [methods](https://github.com/magento/magento-coding-standard/blob/v16/Magento2/Sniffs/Legacy/ObsoleteResponseSniff.php#L18-L29)
[code]
2. run `phpcs`

### Expected resul

[2022-01-06 14:09] ihor-sviziev commented on #351
I'm having the same issue.
@sivaschenko could you set high priority for this issue?

[2022-01-07 18:07] danshumaker opened #353 "Documentation request"
Can we please find and have elaboration on this statement in the readme:

"Due to security, when installed this way the Magento standard for phpcs cannot be added automatically"

This really needs at least and issue link, a bug link, a forum link, a blog post link, or an explanation of why it can't be improved.

thank you

[2022-01-24 10:51] sivaschenko commented on #351
@DmitryFurs agree, it looks like`\Magento2\Sniffs\Legacy\PhtmlTemplateSniff` has to be split into two sniffs: one for phtml and another for PHP files. Thanks for reporting!

@ihor-sviziev done

[2022-02-09 13:20] #351 closed

[2022-02-10 15:27] edspc opened #371 "Don't process minified JS files"
### Description
We are using some JS libs in our modules that are minified.
And sometimes it's not possible to fix issues caused by sniffer's rules.
Now we have to add ignore annotation to each minified file, which is not good.
So I propose to exclude minified JS files in the rule.

### Expected behaviour
Minified JS files are ignored.

### Benefits
It will allow using any of minified libraries wi

[2022-02-10 15:28] edspc commented on #371
@magento I am working on this

[2022-02-11 18:31] #371 closed

[2022-02-18 13:59] speedupmate opened #375 "Magento2.Legacy.InstallUpgrade.ObsoleteUpgradeSchemaScript ERROR on --severity=10"
Magento2.Legacy.InstallUpgrade.ObsoleteUpgradeSchemaScript rule fails on marketplace  with ERROR  on on --severity=10 application submission.

- Marketplace allows you to submit packages supporting 2.2 where  UpgradeSchemaScript was not obsolete yet

- Before Magento 2.3, extension developers were required to write code (PHP scripts) to change the database schema.

- Until marketplace removes 2.2

[2022-04-19 08:37] mfickers opened #385 "Constructor property promotion and EmptyBlock rule"
### Description

Using the new PHP 8.0 feature of constructor property promotion, the constructor function will have an empty block:
[code]
This is not allowed with the current ruleset, as it violates the Magento2.CodeAnalysis.EmptyBlock rule:
[code]

### Expected behavior

### Benefits

### Additional information

[2022-04-24 07:27] shochdoerfer commented on #276
Just ran into the same issue. Would love to see this fixed. For now, I disabled the magento-coding-standard checks in our CI pipeline in favor of phpstan.

[2022-04-25 12:36] convenient opened #388 "Magento sniff codes do not match expected format (too many `.`)"
### Preconditions
1. Use any version of the magento coding standard

### Steps to reproduce
1. Try to use the `--exclude` flag on the CLI to exclude a magento sniff

[code]

### Expected result
1. I can run `phpcs` with the specified rule excluded

### Actual result
I get an error from phpcs as it doesnt expect this many `.` in the sniff codes

https://github.com/squizlabs/PHP_CodeSniffer/blob/b31

[2022-05-11 05:18] Vinai opened #390 "PHPStorm unable to run phpcs inspection"
### Preconditions
1. Tested on Magento Open Source 2.4.4 and Adobe Commerce 2.4.4
2. PHP 8.1 (I haven't tried 7.4)
3. PHPStorm version is 2021.2.4

### Steps to reproduce
1. Configure PHP interpreter in PHPStorm
2. Configure phpcs in PHPStorm to use the Magento coding standard
3. Enable the phpcs inspections

### Expected result
1. PHPStorm displays phpcs rule violations according to the configura

[2022-05-11 11:37] rafafortes commented on #390
I'm facing the same issue. My PHPStorm version is: 2022.1

[2022-05-12 16:51] artbambou commented on #390
##- please type your reply above this line -##

/* -------------------------------------
		GLOBAL
------------------------------------- */
* {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

body {
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:none;
	width: 100%!important;
	height: 100%;
}

a {
	color:#CC6600;
}

img {
	max-wi

[2022-05-19 07:45] tuyennn opened #391 "phpcs: PHP Fatal error: Uncaught Error: Undefined constant "Magento2\Sniffs\Annotation\T_ATTRIBUTE_END""
### Preconditions

1. PHPStorm 2022.1.1
2. [magento-coding-standard](https://github.com/magento/magento-coding-standard) Latest version or v22

### Steps to reproduce

1. Inspect the code with configured Magento 2 as Coding Standard
2.

### Expected result

1. PHPCS could inspect the code with no error
2.

### Actual result

1.
[code]
2.

[2022-05-23 14:49] 0m3r opened #392 "Reactor rule php8 ReplaceNewDateTimeNull has wrong implementation"
### Description
I have a couple of wrong passes of the rule
[code]

[code]
default is 'now' and it's a string so that the first argument can be empty and it's also can be variable
but in rule it's always must by string

https://github.com/magento/magento-coding-standard/blob/50e7c2ad3d7110b06527d75a1aa954b7c20f6ea1/Magento2/Rector/Src/ReplaceNewDateTimeNull.php#L36
[code]

### Expected behavior
it

[2022-05-25 05:57] Sental opened #395 "Expected 1 space after colon with &:not(:first-child)"
### Preconditions

1. In a less file if you use &:not(:first-child) it generates spacing warnings.

### Steps to reproduce

1.  Use &:not(:first-child) in a less file.
2. Run the coding standard from command line. `vendor/bin/phpcs --standard=Magento2 path/to/module`

### Expected result

1. No Warnings are generated.

### Actual result

1. Warnings are generated
154 | WARNING | Expected 1 space a

[2022-05-27 10:32] Nuranto opened #398 "Exclude xml files for LineLength rule ?"
I don't think having LineLength rule for xml is relevant. With XML indentation and a lot of nested tags (ie. system.xml), or with some tags that must have a full classname (ie. di.xml), it can be very counterproductive if not impossible.

That's led us to exclude this rule from our checks, which is a shame since we don't see anymore legit alerts on .php files.

I suggest adding `<exclude-pattern>*

[2022-05-31 10:35] nuzil commented on #385
As temp workaround, use
--exclude=Magento2.CodeAnalysis.EmptyBlock

but yes, this issue is valid and have to be fixed

[2022-06-01 14:15] ihor-sviziev commented on #398
I think it's a good idea to ignore XML files, or just add an exception for long class names and leave it enabled for all other fields

[2022-06-01 14:46] mattijv opened #399 "Calling hasDeprecatedWellFormatted with a false $commentStartPtr leads to error"
### Preconditions

1. Magento Coding Standard containing https://github.com/magento/magento-coding-standard/commit/e64106ddbdb9ee91ce89bb02b7858082eea21cf8.

### Steps to reproduce

1. Run `phpcs --standard=Magento2 Foo.php` for the following sample file

[code]

### Expected result

1. phpcs complains about a missing comment block.

### Actual result

1. A sniff fails with an error message:

Alte

[2022-06-01 14:49] mattijv commented on #399
In `Magento2/Sniffs/Annotation/MethodAnnotationStructureSniff.php` the block starting
[code]
should probably be after the `if (!$commentStartPtr)` check.

[2022-06-02 07:27] tuyennn commented on #391
Close due this related to version of squizlabs/php_codesniffer
https://github.com/squizlabs/PHP_CodeSniffer/issues/3298

[2022-06-02 07:27] #391 closed

[2022-06-02 08:27] tuyennn commented on #390
For somehow $installedPath `../../phpcompatibility/php-compatibility` was missing during inspecting code on PHPStorm but it doesn't while using cli

[2022-06-03 15:41] Dren7755 opened #401 "Is there any reason why function `parse_url` is Discouraged"
When I use parse_url() function - phpcs shows me the following error:
[code]

Is there any reason why I should not use this function?

Do I have any alternative functions to use?

See: https://github.com/magento/magento-coding-standard/blob/develop/Magento2/Sniffs/Functions/DiscouragedFunctionSniff.php#L103

[2022-06-06 00:18] mrtuvn commented on #395
Same issue experiences. Actually all pseudo classes not need require spacing after

[2022-06-06 09:11] hostep commented on #395
The `phpcs` tools should only scan `*.php` (and maybe `*.phtml`) files, why is it being used to scan `*.less` files as well? That makes little sense?

[2022-06-09 12:20] ihor-sviziev commented on #395
@sivaschenko, could you take a look?
We have an example where this issue reproducing on a PR - https://github.com/magento/magento2/pull/35101#issuecomment-1146916983

[2022-06-09 14:38] #399 closed

[2022-06-13 08:43] plumrocket opened #402 ""Avoid using self-closing tag" rule is false positive with inline svg"
As SVG content must be in XML format it must be excluded from HTML validation.

### Preconditions
1. Installed Magento Coding Standard V19 or above

### Steps to reproduce
1. Add inline svg to test.html file
2. Run `vendor/bin/phpcs --severity=10 --standard=Magento2 --ignore-annotations test.html`

### Expected result
1. No errors appear

### Actual result
1. Errors are appear
    Avoid using self

[2022-06-13 12:41] sivaschenko commented on #395
@ihor-sviziev yes, we'll work on it

[2022-06-13 15:10] fredden commented on #167
It looks like the rule was introduced here: https://github.com/magento/devdocs/commit/4165be844c0f96bdcc41b2f952668579266f1a6e

[2022-06-14 19:48] ihor-sviziev commented on #167
I believe all the mentioned tags must not exist in the Magento core, but it should be a case for the custom extensions

Am I right, @Vinai ?

[2022-06-15 16:01] sivaschenko commented on #398
I'd keep the limitation for xml files, however, increase it for example twice to 240 characters.

[2022-06-16 22:15] m2-assistant[bot] opened #403 "[Issue] Allow Use of Template Literals"
This issue is automatically created based on existing pull request: magento/magento-coding-standard#364: Allow Use of Template Literals

---------
https://eslint.org/docs/rules/quotes

We shouldn't deter people from making code more readable.

[2022-06-17 00:48] aligent-lturner opened #404 "Do not require DocBlock for typed class attributes"
### Description

### Expected behavior
Class attributes that have specified types should not require a DocBlock. When an attribute already has a type, the DocBlock is providing no new information, and is instead just creating noise - e.g.:
[code]

I propose that the rule regarding class attributes requiring a `@var` annotation with a type be changed so that it only applies to attributes without a

[2022-06-21 07:58] YouCanDoIt12 commented on #375
@speedupmate did you find any alternative for this issue?

[2022-06-21 08:41] speedupmate commented on #375
Only option was to ditch old version support to bypass the marketplace review and communicate to customers if older version support is needed they can request this from us directly as I just build a separate package for old version support in parallel with removed files added back. So it's just a marketplace limitation not a real world issue for merchants

[2022-06-21 13:14] ihor-sviziev commented on #395
I guess the changes are the following: https://github.com/magento/magento-coding-standard/commit/756ca2dff2e80013c13f6fde5049444cfd137871

[2022-06-28 12:57] fredden opened #407 "Replacing `$this` with `$block` in templates is not universally safe / correct"
### Preconditions
1. In a template (`.phtml` file), make use of `$this->helper(SomeClass:class);`. For example, https://github.com/magento/magento2/blob/2.4.4/app/code/Magento/Catalog/view/frontend/templates/product/listing.phtml#L20
1. Magento Coding Standard version 25

### Steps to reproduce
1. Run `phpcbf --standard=Magento2` on template

### Expected result
1. Template works the same as befor

[2022-06-29 07:42] Nuranto opened #409 "Less files : Class name separator issue"
### Preconditions

M2.4.4
Coding standard v25

### Steps to reproduce

1. Create a module
2. Add file view/css/source/_module.less with content :
[code]
3. Launch phpcs

### Expected result

No errors

### Actual result

[code]

### Notes

We should either :
- remove that rule since it is not respected by M2 core code.
- Fix class names in core M2 repo, but it will be a breaking change for all exi

[2022-06-29 07:45] Nuranto commented on #407
@fredden have a look at https://github.com/magento/magento-coding-standard/issues/156

[2022-06-29 10:13] fredden commented on #407
@Nuranto thanks for your feedback.

I have no problem with the warning / message that says that helpers are deprecated / should not be used. I have no problem with the warning / message that says that one should use `$block->getThing()` not `$this->getThing()` in templates. I have no problem with the auto-fix of `$this->getThing()` to `$block->getThing()`.

This bug is for when `$this->helper()` g

[2022-06-29 10:48] Nuranto commented on #407
I understand, and agree but my point was that they probably won’t do
anything about it since they consider this is a not a correct approach.

For my projects, I simply run the fixer with that rule excluded. But of
course that means it won’t fix other $this cases..

Le mer. 29 juin 2022 à 12:13, Dan Wallis ***@***.***> a
écrit :

--
Please let me know if you need anything else.
Have a beautiful day

[2022-06-29 10:59] fredden commented on #407
That's what we've had to do as well (remove/exclude this rule from the fixer).

[2022-07-05 06:02] dfelton opened #411 "False Positive: Magento2.Legacy.InstallUpgrade.ObsoleteInstallDataScript"
### Preconditions

1. Package contains data patch `\VendorName\ModuleName\Setup\Patch\Data\InstallData` (exact nature of data patch irrelevant)

### Steps to reproduce

1. Run the coding standard against the file `Setup/Patch/Data/InstallData.php`

### Expected result

1. Sniff `Magento2.Legacy.InstallUpgrade.ObsoleteInstallDataScript` to not be triggered by the presence of a data patch named `Ins

[2022-07-06 13:36] gmachure opened #412 "PHP8.1 / PHPCS Empty FUNCTION statement detected with constructor property promotion"
### Preconditions
M2.4.4

### Steps to reproduce
1. Create a php class and add construction using property promotion like this :
`
public function __construct(
        private readonly string $test1,
        private readonly int $test2
    )
    { }
`
2. Launch phpcs

### Expected result
1. No errors
Empty  function should be authorized here.

### Actual result
`
FOUND 0 ERRORS AND 1 WARNING AFFEC

[2022-07-10 16:15] unicoder88 opened #414 "Cannot switch to latest coding standard"
Hi!

On Magento 2.4.3, I'm looking to upgrade to latest magento-coding-standard (v25), however, there's a conflict with webonyx/graphql-php.

[code]

My Magento version is stuck with v0.13.9, so I'm effectively unable to check against up-to-date code styles and stuck with standards v6.

I believe that coding standard should not technically depend on that, and we can safely remove any Magento **cod

[2022-07-15 08:27] Nuranto opened #418 "PHP imports"
### Rule

All imports are effectively used.
All imports are sorted

### Reason

Usually after code refactoring, some imports are not necessary anymore and should be removed and re-sorted by the fixer.

[2022-07-20 08:07] fiko commented on #390
it's not permanent fixing, but you may apply this patch @tuyennn @Vinai https://gist.github.com/fiko/bdec71978b458cc527df03d26a695b6c

[2022-07-26 19:17] MeCapron commented on #390
I'm facing the same issue. Any news on this?

[2022-08-08 05:19] gowrizrh commented on #414
Having the same issue on version `2.4.3-p2`

[2022-08-09 19:29] snoop0x7b commented on #390
Any update on this? PHPCS is an important part of our workflow.

[2022-08-10 16:21] fredden commented on #414
I've checked just now and all the packages listed in `require` are used in the standards, not just its tests.

[2022-08-10 16:26] fredden commented on #414
It looks like this is fixed since Magento version 2.4.4.

https://github.com/magento/magento2/blob/2.4.3/composer.json#L82 - `"webonyx/graphql-php": "^0.13.8",`
https://github.com/magento/magento2/blob/2.4.4/composer.json#L86 - `"webonyx/graphql-php": "~14.11.3",`
https://github.com/magento/magento2/blob/2.4.5/composer.json#L81 - `"webonyx/graphql-php": "~14.11.6",`

https://github.com/magento/mag

[2022-08-24 16:29] sivaschenko commented on #390
To include Magento Coding Standard as part of PHPStorm inspections, follow the steps:
- Open PHPStorm preferences
- Navigate to "Editor" | "Inspections"
- Select "PHP" | "Quality Tools" | "PHP_CodeSniffer validation"
- Set "Coding standard" to "Custom" and select path to `<project_root>/vendor/magento/magento-coding-standard/Magento2/ruleset.xml`
- Check "Installed standards path" and select path

[2022-08-24 18:59] hostep commented on #409
@sivaschenko: what do you think about this suggestion? I'm all for it.

If you don't want to allow underscores, then at least allow `.admin__*` to be used, because Magento's codebase is full of these usages.

[2022-08-25 07:26] guvra commented on #33
This is not true.
You are probably thinking of [this](https://php.watch/versions/8.1/internal-func-non-nullable-null-deprecation).
This has nothing to do with strict types.

[2022-08-25 08:43] fredden commented on #33
Sorry, I was wrong. I've marked my comment as hidden to avoid confusion going forward. Thanks for calling this out.

[2022-08-26 05:10] alexey-dorosh commented on #303
Magento version: CE 2.4.5
Coding Standard version: 25

[code]
fails with `phpcs: Magento2.Annotation.MethodArguments.ParamMissing: Missing @param for argument in method annotation`, but all the method signature is covered by strict types

![image](https://user-images.githubusercontent.com/100999051/186825646-1d7c5aa2-8814-4206-9965-f913b371a9e1.png)

Also, why classes constructors requires docbloc

[2022-08-31 20:18] hostep commented on #409
@svera: what's your opinion on this?

[2022-10-05 10:24] hostep commented on #409
@bl4de: maybe you have an opinion?

Coding standards should make code more consistent and more readable, having to add things like these doesn't make code more readable but the opposite, it makes it harder to read:
<img width="490" alt="Screenshot 2022-10-05 at 12 22 55" src="https://user-images.githubusercontent.com/85479/194038836-6b767160-da88-42ec-a325-fb98b33e1f34.png">

[2022-10-05 17:55] bl4de commented on #409
Hello @hostep,

Thank you for your contribution! We will discuss this issue internally and create corresponding issue in the dev guild.
I will get back to you when I will have any update regarding your PR.

Regards,
Rafal

[2022-10-06 07:49] 06romix opened #423 "Too strict or early rule for Zend_Validate"
### Steps to reproduce
1. Use Zend_Validate in your extension
2. Validate extension with the last (26) version of Magento Coding Standard

### Expected result
1. Extension is not valid and there is a correct suggestion or it is not ERROR level but WARNING
2. Suggested replacement is present in 2.4.0 Magento versions as it is [supported to November 28, 2022](https://experienceleague.adobe.com/docs/

[2022-10-07 10:27] MeCapron commented on #423
Agree that this is way too early.

Even the current deployed version by Magento (2.4.5) is not fully working with this rule.

For example, check this file => https://github.com/magento/magento2/blob/2.4.5/app/code/Magento/Eav/Setup/EavSetup.php#L825

Using the EavSetup in custom code leads to this error of coding standards while this is not fully imported yet in Magento side.

[2022-10-10 16:50] maaarghk opened #424 "Forbid Framework\Module\Status::setIsEnabled"
### Rule
Forbid calling Magento\Framework\Module\Status::setIsEnabled

### Reason
Experienced downtime as a result of a magento marketplace module (feefo/reviews) calling setIsEnabled(true) in production mode. The target was Magento_Review, which was installed but not enabled, causing blocks to attempt to load data from database tables which did not exist (declarative schema had removed them). Usa

[2022-10-13 05:52] torhoehn commented on #423
Yes, just discovered the same issue here.

[2022-10-13 10:50] mam08ixo commented on #423
Definitely a bad thing to error out with a suggested replacement that does not even exist in any stable/supported Magento version.

[2022-10-14 13:21] lykhouzov opened #425 "strpos(): Argument #3 ($offset) must be contained in argument #1 ($haystack) in Magento2/Sniffs/Less/ClassNamingSniff.php:69"
### Preconditions
Example of less file
[code]

### Steps to reproduce

1. run `vendor/bin/phpcs -d memory_limit=2G --standard=Magento2 --report-\\Micheh\\PhpCodeSniffer\\Report\\Gitlab=report-phpcs.json --basepath=/var/www/html  app/design/frontend/Phoenix/`

### Expected result
Normal report

### Actual result
Fatal Error.
[code]

As you can see from less file, a class name is shorter than the ex

[2022-10-17 18:05] hostep commented on #409
Hi @bl4de: have you guys already found some time to discuss this?

[2022-10-18 07:25] LukasKiederle commented on #423
We also have the same issue.

[2022-10-18 08:15] amazur-ext commented on #423
same issue, plus Suggested replacement: Magento\Framework\Validator\ValidateException class is missing

[2022-10-18 08:43] bl4de commented on #409
Hi @hostep,

We have discussed this issue internally and decided to take a look at it. Currently we are reviewing possible solutions. I will keep you updated.
Regards,

Rafal

[2022-10-21 08:28] okolya opened #427 "Exception class Magento\Framework\Validator\ValidateException does not exist"
### Preconditions
Add attribute in Data Patch using `$eavSetup->addAttribute()` method.
Place DataPatch in Vendor/Module/Setup/Patch/Data/AddTestAttribute.php file.

Example
[code]
### Steps to reproduce
run `vendor/bin/phpcs --standard=Magento2 app/code/Vendor/Module/Setup/Patch/Data/AddTestAttribute.php`

### Expected result
[code]

### Actual result
[code]
### Line
https://github.com/magento/ma

[2022-10-23 11:16] fredden commented on #427
Both classes exist in the code-base.

https://github.com/magento/magento2/tree/5a022f69ada01effe32a207000a2391e1c918625/lib/internal/Magento/Framework/Validator
https://github.com/magento/magento2/blob/5a022f69ada01effe32a207000a2391e1c918625/lib/internal/Magento/Framework/Validator/Exception.php
https://github.com/magento/magento2/blob/5a022f69ada01effe32a207000a2391e1c918625/lib/internal/Magento

[2022-11-02 11:01] hostep commented on #409
Hi @bl4de: is there already some more news? (sorry to keep bugging you but I feel like it's important to get this figured out soon, so pull requests that keep running into this silly check can soon be resolved then ...)

[2022-11-17 16:16] hostep commented on #409
Hi @bl4de, @sivaschenko, @svera, ...: really sorry to keep bothering you guys, but is there any sort of update around this from you?

[2022-11-18 10:32] norgeindian opened #428 "RestrictedCodeSniff suggests Laminas\Filter\FilterInterface, which is not required by Magento 2.4.5-p1 anymore"
### Preconditions

1. Magento 2.4.5-p1
2. Magento Coding Standard, 26

### Steps to reproduce

1. Create a file, where you include `\Zend_Filter_Interface` in the constructor
2. Run `vendor/bin/phpcs --standard=dev/tests/static/framework/Magento` on that file.

### Expected result

1. `RestrictedCodeSniff` should suggest a class, which exists in a clean Magento instance

### Actual result

1. The